openapi: "3.0.3"
info:
  title: Payment Instrument API documentation
  description: <p>Payment Instrument and Cardholder operation management include APIs for Payment Instrument maintenance , Payment instrument operations and Status operation.</p>
  version: PowerCARD-Issuer V4
servers:
  - url: https://connect-api-f421ce7420d03b16.elb.eu-north-1.amazonaws.com
    description: Development server
paths:

 # ------- TokenAuthentication API  

  /compliance/v4.0/tokens/authentication:
    post:
      description:  <h3>API Overview</h3>
                    <a target="_blank" rel="noopener noreferrer" href="https://sandbox.connectapi.hps-worldwide.com/PowerCardConnectApi/jaxws/TokenAuthentication?wsdl"><img  src="./docs/soap_logo.jpg" /><u>SOAP WSDL</u></a>                    <p>PowerCard Connect'API uses JWT authentication for securing the exposed REST APIs, the user will be able to consume API TokenAuthentification only if it has a valid Token.</p>
                    <p>The Connect’API authenticates all requests using the token available in the request itself, If such an authentication fails, Connect’API simply sends an HTTP code 401 (Unauthorized).</p>
                    <h3>Functional Description</h3>
                    <img  src="./docs/tokenAuthentication.png" />
      summary: Token Authentication service using user credentials. 
      tags:
        - User Token Authentication.
      requestBody:
        description: Token Authentication service using user credentials.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenAuthentication'
          application/xml:
            schema:
              $ref: '#/components/schemas/TokenAuthentication'      
      responses:
        200:
          description:
                  <div>
                          Successful
                          <p>Business Error Codes &#58;</p>
                           <table>
                              <tr>
                                <th>Error code</th>
                                <th>Error Description</th>
                              </tr>
                                  <tr>
                                     <td>00000</td>
                                     <td>Success</td>
                                  </tr>
                                  <tr>
                                      <td>00001</td>
                                      <td>Bad Credentials Invalid login and/or password</td>
                                  </tr>
                                  <tr>
                                      <td>00003</td>
                                      <td>User Blocked</td>
                                  <tr>
                                       <td>00005</td>
                                       <td>Invalid Password configuration</td>
                                  </tr>
                                  <tr>
                                      <td>00006</td>
                                      <td>User Password expired</td>
                                  </tr>
                                  <tr>
                                      <td>99999</td>
                                      <td>System Error</td>
                                  </tr>

                       </table>
                  </div> 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenAuthenticationResponse'
            application/xml:
                      schema:
                        $ref: '#/components/schemas/TokenAuthenticationResponse'                                                                 
                                                                              
              
  # --- CreateDebitCardV4
  /payment-instrument/v4.0/cards/create_debit_card:
        post:
            description:
                        <h3>API Overview</h3>
                          <p>
                             A debit card allows the cardholder access to a source of funding that is linked to his/her card, typically a saving or a checking account. Users may use this service to send a request to PowerCARD in order to ask for the creation of a client and its debit card. 
                          </p>
                          <p>
                              Many details with regards to the card are shared within the request. Those data includes information related to the card. All are then checked by the system before it will proceed by the creation of the debit card.
                          </p>
                          <p>
                           As output the web service send back the result of the processing that could be either successfully or unsuccessfully, in what case, the system will share an error code for investigation.
                          </p>
                        <h3>Functional Description</h3>
                         <img  src="./docs/DebitCards.png" />
            summary:   A debit card allows the cardholder to create a client and/or its debit card.
            tags:
              - Create Debit Card
            requestBody:
              required: true
              description:
                    <img id="select-case-img" src="./docs/exclamation.png" />
                    <label id="select-case">When we use this Api with the aggregate <b>Existing Client</b> (clientCode and bankCode not empty) , all the other customer details aggregates are ignored. </label>
              content:
                application/json:
                  schema:
                    $ref: '#/components/schemas/CreateDebitCardV4Rq'
                application/xml:
                  schema:
                    $ref: '#/components/schemas/CreateDebitCardV4Rq'
            responses:  
              200:
                description:
                  <div>
                      <p>Technical Error Codes &#58;</p>
                        <table>
                            <tr>
                            <th>Error code</th>
                            <th>Error Description</th>
                            </tr>
                            <tr>
                              <td>00000</td>
                              <td>Success</td>
                            </tr>
                            <tr>
                                <td>99999</td>
                                <td>System error</td>
                            </tr>
                            <tr>
                              <td>90009</td>
                              <td>Generic error for request validation failure (check size,format,mandatory etc..)</td>
                            </tr>                  
                            <tr>
                                <td>00002</td>
                                <td> Forbidden you don't have permission to access for this api</td>
                            </tr>
                            <tr>
                                <td>00007</td>
                                <td>Authorization header is empty</td>
                            </tr>
                            <tr>
                                <td>00008</td>
                                <td>Authorization header is missing</td>
                            </tr>
                            <tr>
                                <td>00009</td>
                                <td>Malformat Authorization content</td>
                            </tr>
                            <tr>
                                <td>00010</td>
                                <td>Bearer is required in the token</td>
                            </tr>
                            <tr>
                                <td>00011</td>
                                <td>Token expired</td>
                            </tr>
                            <tr>
                                <td>00012</td>
                                <td>Invalid token</td>
                            </tr>
                   <table>
                      <p>Business Error Codes &#58;</p>
                      <table>
                        <tr>
                          <th>Error code</th>
                          <th>Error Description <b>*</b></th>
                        </tr>                               
                          <tr>
                            <td>000332</td>
                            <td>Client code is not valid</td>
                          </tr>
                          <tr>
                          <td>000037</td>
                          <td>Client code already exist</td>
                          </tr>
                          <tr>
                            <td>000220</td>
                            <td>BranchCode is not valid</td>
                          </tr>
                          <tr>
                              <td>000068</td>
                              <td>VipLevel is not valid</td>
                          </tr>    
                          <tr>
                              <td>000219</td>
                              <td>NationalityCode is not valid</td>
                          </tr>     
                          <tr>
                              <td>000211</td>
                              <td>Language is not valid</td>
                          </tr>  
                          <tr>
                              <td>000212</td>
                              <td>Title code is not valid</td>
                          </tr>    
                          <tr>
                              <td>000079</td>
                              <td>OwnerCode is not valid</td>
                          </tr>  
                          <tr>
                              <td>000080</td>
                              <td>SocioProfessionalCode is not valid</td>
                          </tr>    
                          <tr>
                              <td>000081</td>
                              <td>Activity code is not valid</td>
                          </tr>   
                          <tr>
                              <td>000050</td>
                              <td>CustomerSegment is not valid</td>
                          </tr>
                            <tr>
                                <td>000082</td>
                                <td>LodgingMode is not valid</td>
                            </tr>
                            <tr>
                              <td>000139</td>
                              <td>PhoneType is not valid </td>
                          </tr>
                            <tr>
                              <td>000130</td>
                              <td>Address type is not valid</td>
                            </tr>
                              <tr>
                              <td>000128</td>
                              <td>Sending mode is not valid</td>
                              </tr>
                            <tr>
                              <td>03017</td>
                              <td>ZipCode is not valid</td>
                            </tr>
                            <tr>
                              <td>03011</td>
                              <td>CityCode is not valid</td>
                            </tr>
                          <tr>
                          <td>03019</td>
                          <td>Region is not valid</td>
                          </tr>
                          <tr>
                          <td>000136</td>
                          <td>Country code is not valid</td>
                          </tr>
                         <tr>
                              <td>000053</td>
                              <td>DocumentCode is not valid</td>
                          </tr>   
                          <tr>
                              <td>000054 <b>[deprecated]</b> </td>
                              <td>DocumentId is not valid</td>
                          </tr>                                                                                                                                                                                                                                                                       
                          <tr>
                              <td>000218</td>
                              <td>FieldName is not valid</td>
                          </tr>    
                          <tr>
                              <td>000179</td>
                              <td>CatPIProduct or catPIProductVersion is not valid</td>
                          </tr>
                            <tr>
                                <td>000164</td>
                                <td>Account type is not valid</td>
                            </tr>
                            <tr>
                              <td>000156</td>
                              <td>Currency code is not valid</td>
                            </tr>
                            <tr>
                                <td>000185</td>
                                <td>DefaultAccount is not valid</td>
                            </tr>
                            <tr>
                              <td>000175</td>
                              <td>Invalid Strategy id in Communication event</td>
                            </tr>
                              <tr>
                                <td>001177</td>
                                <td>EventCode is not valid</td>
                              </tr>
                              <tr>
                                <td>001178 <b>[deprecated]</b> </td>
                                <td>Event activation status is not valid</td>
                              </tr>
                              <tr>
                                  <td>001179</td>
                                  <td>ChannelActivationStatus is not valid</td>
                              </tr>
                              <tr>
                                <td>000210</td>
                                <td>Channel type is not valid</td>
                              </tr> 
                              <tr>
                                <td>001211</td>
                                <td>Document Issue date should be less than business date</td>
                              </tr>
                              <tr>
                                <td>001210</td>
                                <td>Document ExpiryDate should be greater than business date  </td>
                              </tr>
                              <tr>
                                <td>003009</td>
                                <td>Free city text not allowed</td>
                              </tr>
                              <tr>
                                  <td>003010</td>
                                  <td>Free region text not allowed</td>
                              </tr>
                              <tr>
                                  <td>000327</td>
                                  <td>Duplicated address provided</td>
                              </tr>
                              <tr>
                                  <td>000238</td>
                                  <td>Address startDate greater than endDate</td>
                              </tr>
                              <tr>
                                  <td>000222</td>
                                  <td>Operation not permitted, cancelled client</td>
                              </tr>
                              <tr>
                                  <td>000240</td>
                                  <td>invalid birthCountry</td>
                              </tr>
                              <tr>
                              <td>000247</td>
                              <td>Invalid priorityCode</td>
                              </tr>
                  </table>
                  </div>
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CreateDebitCardV4Rs'
                  application/xml:
                            schema:
                              $ref: '#/components/schemas/CreateDebitCardV4Rs'   
  # Renew card                                                
  /payment-instrument/v4.0/cards/renew_card:
        post:
            description:
                        <h3>API Overview</h3>
                          <p>
                               Usually a card is automatically renewed within the month it expires. However, for some reasons, as if when the customer is going to be out of the town during the renewal process, he may request to renew his card before its expiration date. For that, PowerCARD offers the possibility to use this web service. The service is mainly used to store the request that will be processed during the end of the day. 
                          </p>
                          <p>
                              It is important to mention here that PowerCARD makes multiple controls on the card before proceeding to perform the renewal action. Those controls are all defined in the system and can be activated or deactivated by the financial institution using the PowerCARD setup screens.
                          </p>
                        <h3>Functional Description</h3>
                         <img  src="./docs/RenewCard.png" />
            summary:    A customer can request to renew his card before its expiration date.
            tags:
              - Renew Card
            requestBody:
              required: true
              content:
                application/json:
                  schema:
                    $ref: '#/components/schemas/RenewCardV4Rq'
                application/xml:
                  schema:
                    $ref: '#/components/schemas/RenewCardV4Rq'
              description: 
                <img id="select-case-img" src="./docs/exclamation.png" /> 
                <label  id="select-case">To make Connect'API protocol more extensible, an array of <b>key value</b> pairs is available in All object.</label>
                <label id="select-case"> for example to indicate to the PowerCARD Connect’API that the Alias PAN is being sent instead of the card number, the Client must include a key TOKEN with value Y &#58; </label>
                <code id="key-value-token"> 
                     {
                          ...
                          "keyValues" &#58; [{
                              "key" &#58; "token",
                              "data" &#58; "y"
                          }],
                          ...
                     }
                </code>          
            responses:  
              200:
                description:
                        <div>
                            <p>Technical Error Codes &#58;</p>
                            <table>
                                <tr>
                                    <th>Error code</th>
                                    <th>Error Description</th>
                                </tr>
                                <tr>
                                    <td>00000</td>
                                    <td>Success</td>
                                </tr>
                                <tr>
                                    <td>99999</td>
                                    <td>System error</td>
                                </tr>
                                <tr>
                                    <td>90009</td>
                                    <td>Generic error for request validation failure (check size,format,mandatory etc..)</td>
                                </tr>
                                <tr>
                                    <td>00002</td>
                                    <td> Forbidden you don't have permission to access for this api</td>
                                </tr>
                                <tr>
                                    <td>00007</td>
                                    <td>Authorization header is empty</td>
                                </tr>
                                <tr>
                                    <td>00008</td>
                                    <td>Authorization header is missing</td>
                                </tr>
                                <tr>
                                    <td>00009</td>
                                    <td>Malformat Authorization content</td>
                                </tr>
                                <tr>
                                    <td>00010</td>
                                    <td>Bearer is required in the token</td>
                                </tr>
                                <tr>
                                    <td>00011</td>
                                    <td>Token expired</td>
                                </tr>
                                <tr>
                                    <td>00012</td>
                                    <td>Invalid token</td>
                                </tr>
                            <table>
                                <p>Business Error Codes &#58;</p>
                                <table>
                                      <tr>
                                        <th>Error code</th>
                                        <th>Error Description</th>
                                      </tr>
                                      <tr>
                                          <td>021301</td>
                                          <td>Invalid CardNumber / TokenID</td>
                                      </tr>
                                      <tr>
                                          <td>021302</td>
                                          <td>Invalid bankCode</td>
                                      </tr>
                                      <tr>
                                        <td>000119</td>
                                        <td>Month max validity exceeded</td>
                                      </tr>
                                      <tr>
                                        <td>0001131</td>
                                        <td>Month min validity exceeded</td>
                                      </tr>   
                                      <tr>
                                        <td>000039</td>
                                        <td>Operation not permitted, cancelled card</td>
                                      </tr>    
                                      <tr>
                                        <td>000040</td>
                                        <td>Operation not permitted, replaced card</td>
                                      </tr>  
                                      <tr>
                                        <td>000120</td>
                                        <td>Card in stop renewal</td>
                                      </tr>  
                                      <tr>
                                        <td>000021</td>
                                        <td>Card not allowed for renewal</td>
                                      </tr>  
                                      <tr>
                                        <td>000047</td>
                                        <td>Card is restricted</td>
                                      </tr>  
                                      <tr>
                                        <td>000115</td>
                                        <td>Card renewal blocked</td>
                                      </tr>                        					
                                </table>
                        </div> 
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/RenewCardV4Rs'
                  application/xml:
                          schema:
                              $ref: '#/components/schemas/RenewCardV4Rs'
  # --- ReplaceCard
  /payment-instrument/v4.1/cards/replace_card:
    post:
      description:
        <h3>API Overview</h3>
        <p>
        In PowerCARD, lost or damaged cards card be replaced in the system using this web service. Agents as well as customers can ask for the replacement of an existing card by specifying the reason. Based on that reason, the system can either replace the card by keeping the same card number or generating a new card number for the cardholder.
        </p>
        <p>
        The service allows also applying or not some fees amount while replacing a card. Fees are then charged to the account with a specific transaction code.
        </p>
        <h3>Functional Description</h3>
        <img  src="./docs/ReplaceCard.png" />
      summary:     Lost or damaged cards card be replaced in the system using this web service.
      tags:
        - Replace Card
      requestBody:
        description:
          <img id="select-case-img" src="./docs/exclamation.png" />
          <label  id="select-case">To make Connect'API protocol more extensible, an array of <b>key value</b> pairs is available in All object.</label>
          <label id="select-case"> for example to indicate to the PowerCARD Connect’API that the Alias PAN is being sent instead of the card number, the Client must include a key TOKEN with value Y &#58; </label>
          <code id="key-value-token">
          {
          ...
          "keyValues" &#58; [{
          "key" &#58; "token",
          "data" &#58; "y"
          }],
          ...
          }
          </code>
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReplaceCardV41Rq'
          application/xml:
            schema:
              $ref: '#/components/schemas/ReplaceCardV41Rq'
      responses:
        200:
          description:
            <div>
            <p>Technical Error Codes &#58;</p>
            <table>
            <tr>
            <th>Error code</th>
            <th>Error Description</th>
            </tr>
            <tr>
            <td>00000</td>
            <td>Success</td>
            </tr>
            <tr>
            <td>99999</td>
            <td>System error</td>
            </tr>
            <tr>
            <td>90009</td>
            <td>Generic error for request validation failure (check size,format,mandatory etc..)</td>
            </tr>
            <tr>
            <td>00002</td>
            <td> Forbidden you don't have permission to access for this api</td>
            </tr>
            <tr>
            <td>00007</td>
            <td>Authorization header is empty</td>
            </tr>
            <tr>
            <td>00008</td>
            <td>Authorization header is missing</td>
            </tr>
            <tr>
            <td>00009</td>
            <td>Malformat Authorization content</td>
            </tr>
            <tr>
            <td>00010</td>
            <td>Bearer is required in the token</td>
            </tr>
            <tr>
            <td>00011</td>
            <td>Token expired</td>
            </tr>
            <tr>
            <td>00012</td>
            <td>Invalid token</td>
            </tr>
            <table>
            <p>Business Error Codes &#58;</p>
            <table>
            <tr>
            <th>Error code</th>
            <th>Error Description</th>
            <tr>
            <td>000125</td>
            <td>Expiry date lesser than business date</td>
            </tr>
            <tr>
            <td>000119</td>
            <td>Month max validity exceeded</td>
            </tr>
            <tr>
            <td>0001131</td>
            <td>Month min validity exceeded</td>
            </tr>
            <tr>
            <td>000039</td>
            <td>Operation not permitted, cancelled card</td>
            </tr>
            <td>000040</td>
            <td>Operation not permitted, replaced card</td>
            </tr>
            <tr>
            <td>000120</td>
            <td>Card in stop renewal</td>
            </tr>
            <tr>
            <td>000021</td>
            <td>Card not allowed for renewal</td>
            </tr>
            <tr>
            <td>000047</td>
            <td>Card is restricted</td>
            </tr>
            <tr>
            <td>000115</td>
            <td>Card renewal blocked</td>
            </tr>
            <tr>
            <td>021301</td>
            <td>Invalid CardNumber / TokenID</td>
            </tr>
            <tr>
            <td>021302</td>
            <td>Invalid bankCode</td>
            </tr>
            </table>
            </div>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReplaceCardV4Rs'
            application/xml:
              schema:
                $ref: '#/components/schemas/ReplaceCardV4Rs'
  # --- ReplaceCard
  /payment-instrument/v4.0/cards/replace_card:
        post:
            deprecated: true
            description:
                        <p id="deprecated-label">Since version PWC-4.1.1-RC1 !</p>
                        <h3>API Overview</h3>
                          <p>
                             In PowerCARD, lost or damaged cards card be replaced in the system using this web service. Agents as well as customers can ask for the replacement of an existing card by specifying the reason. Based on that reason, the system can either replace the card by keeping the same card number or generating a new card number for the cardholder. 
                          </p>
                          <p>
                              The service allows also applying or not some fees amount while replacing a card. Fees are then charged to the account with a specific transaction code.
                          </p>
                        <h3>Functional Description</h3>
                         <img  src="./docs/ReplaceCard.png" />
            summary:     Lost or damaged cards card be replaced in the system using this web service.
            tags:
              - Replace Card
            requestBody:
              description: 
                <img id="select-case-img" src="./docs/exclamation.png" /> 
                <label  id="select-case">To make Connect'API protocol more extensible, an array of <b>key value</b> pairs is available in All object.</label>
                <label id="select-case"> for example to indicate to the PowerCARD Connect’API that the Alias PAN is being sent instead of the card number, the Client must include a key TOKEN with value Y &#58; </label>
                <code id="key-value-token"> 
                     {
                          ...
                          "keyValues" &#58; [{
                              "key" &#58; "token",
                              "data" &#58; "y"
                          }],
                          ...
                     }
                </code>                 
              required: true
              content:
                application/json:
                  schema:
                    $ref: '#/components/schemas/ReplaceCardV4Rq'
                application/xml:
                  schema:
                    $ref: '#/components/schemas/ReplaceCardV4Rq'
            responses:  
              200:
                description:
                          <div>
                          <p>Technical Error Codes &#58;</p>
                              <table>
                                  <tr>
                                  <th>Error code</th>
                                  <th>Error Description</th>
                                  </tr>
                                  <tr>
                                  <td>00000</td>
                                  <td>Success</td>
                                  </tr>
                                  <tr>
                                  <td>99999</td>
                                  <td>System error</td>
                                  </tr>
                                  <tr>
                                  <td>90009</td>
                                  <td>Generic error for request validation failure (check size,format,mandatory etc..)</td>
                                  </tr>
                                  <tr>
                                  <td>00002</td>
                                  <td> Forbidden you don't have permission to access for this api</td>
                                  </tr>
                                  <tr>
                                  <td>00007</td>
                                  <td>Authorization header is empty</td>
                                  </tr>
                                  <tr>
                                  <td>00008</td>
                                  <td>Authorization header is missing</td>
                                  </tr>
                                  <tr>
                                  <td>00009</td>
                                  <td>Malformat Authorization content</td>
                                  </tr>
                                  <tr>
                                  <td>00010</td>
                                  <td>Bearer is required in the token</td>
                                  </tr>
                                  <tr>
                                  <td>00011</td>
                                  <td>Token expired</td>
                                  </tr>
                                  <tr>
                                  <td>00012</td>
                                  <td>Invalid token</td>
                                  </tr>
                              <table>
                          <p>Business Error Codes &#58;</p>
                           <table>
                                <tr>
                                  <th>Error code</th>
                                  <th>Error Description</th> 
                                <tr>
                                  <td>000125</td>
                                  <td>Expiry date lesser than business date</td>
                                </tr>  
                                <tr>
                                  <td>000119</td>
                                  <td>Month max validity exceeded</td>
                                </tr>                                		
                                <tr>
                                  <td>0001131</td>
                                  <td>Month min validity exceeded</td>
                                </tr>  
                                <tr>
                                  <td>000039</td>
                                  <td>Operation not permitted, cancelled card</td>
                                </tr>
                                  <td>000040</td>
                                  <td>Operation not permitted, replaced card</td>
                                </tr>  
                                <tr>
                                  <td>000120</td>
                                  <td>Card in stop renewal</td>
                                </tr>  
                                <tr>
                                  <td>000021</td>
                                  <td>Card not allowed for renewal</td>
                                </tr>  
                                <tr>
                                  <td>000047</td>
                                  <td>Card is restricted</td>
                                </tr>  
                                <tr>
                                  <td>000115</td>
                                  <td>Card renewal blocked</td>
                                </tr>
                                <tr>
                                   <td>021301</td>
                                   <td>Invalid CardNumber / TokenID</td>
                                </tr>
                                <tr>
                                   <td>021302</td>
                                   <td>Invalid bankCode</td>
                                </tr>
                           </table>
                  </div> 
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/ReplaceCardV4Rs'
                  application/xml:
                          schema:
                              $ref: '#/components/schemas/ReplaceCardV4Rs'   
 # --- Card from token
  /payment-instrument/v4.0/tokenization/card_from_token:
        post:
            description:
                        <h3>API Overview</h3>
                          <p>
                              When used in credit, debit or prepaid card transactions, tokens, sometimes referred to as surrogate value are created to replace the card number. A token, rather than the actual credit/debit card number, would be used to complete the purchases a customer is making with its card. In this context, this web service is mainly used to retrieve the clear card number when providing a token value. PowerCARD is in fact a tokenization system that accepts as entry token value and proceeds by the reverse process of redeeming a token for its associated PAN value.                          </p>
                          <p>
                          <p>
                           Users are also required to pass the card expiry date in the list of input data to process the de-tokenization process and return back the clear card number.
                          </p>
                        <h3>Functional Description</h3>
                         <img  src="./docs/getCardNumberFromToken.png" />
            summary:     Get the card number using an alias pan token .
            tags:
              - Get Card From Token
            requestBody:
              description: 
                <img id="select-case-img" src="./docs/exclamation.png" /> 
                <label  id="select-case">To make Connect'API protocol more extensible, an array of <b>key value</b> pairs is available in All object.</label>
                <label id="select-case"> for example to indicate to the PowerCARD Connect’API that the Alias PAN is being sent instead of the card number, the Client must include a key TOKEN with value Y &#58; </label>
                <code id="key-value-token"> 
                     {
                          ...
                          "keyValues" &#58; [{
                              "key" &#58; "token",
                              "data" &#58; "y"
                          }],
                          ...
                     }
                </code>                
              required: true
              content:
                application/json:
                  schema:
                    $ref: '#/components/schemas/GetCardFromTokenV4Rq'
                application/xml:
                  schema:
                    $ref: '#/components/schemas/GetCardFromTokenV4Rq'
            responses:  
              200:
                description:
                  <div>
                        <p>Technical Error Codes &#58;</p>
                        <table>
                            <tr>
                            <th>Error code</th>
                            <th>Error Description</th>
                            </tr>
                            <tr>
                            <td>00000</td>
                            <td>Success</td>
                            </tr>
                            <tr>
                            <td>99999</td>
                            <td>System error</td>
                            </tr>
                            <tr>
                            <td>90009</td>
                            <td>Generic error for request validation failure (check size,format,mandatory etc..)</td>
                            </tr>
                            <tr>
                            <td>00002</td>
                            <td> Forbidden you don't have permission to access for this api</td>
                            </tr>
                            <tr>
                            <td>00007</td>
                            <td>Authorization header is empty</td>
                            </tr>
                            <tr>
                            <td>00008</td>
                            <td>Authorization header is missing</td>
                            </tr>
                            <tr>
                            <td>00009</td>
                            <td>Malformat Authorization content</td>
                            </tr>
                            <tr>
                            <td>00010</td>
                            <td>Bearer is required in the token</td>
                            </tr>
                            <tr>
                            <td>00011</td>
                            <td>Token expired</td>
                            </tr>
                            <tr>
                            <td>00012</td>
                            <td>Invalid token</td>
                            </tr>
                        <table>
                          <p>Business Error Codes &#58;</p>
                           <table>
                                <tr>
                                  <th>Error code</th>
                                  <th>Error Description</th>
                                </tr>	
                                 <tr>
                                  <td>021301</td>
                                  <td>Invalid CardNumber / TokenID</td>
                                </tr>
                                  <tr>
                                  <td>021302</td>
                                  <td>Invalid bankCode</td>
                                  </tr>
                           </table>
                  </div> 
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/GetCardFromTokenV4Rs'
                  application/xml:
                          schema:
                              $ref: '#/components/schemas/GetCardFromTokenV4Rs'     
 # --- UpdateCardStatus
  /payment-instrument/v4.0/cards/activate_card:
        patch:
            description:
                        <h3>API Overview</h3>
                          <p>
                              This web services was introduced to allow changing the status of an existing card in the system. Agent and customers can ask to change the status of a card by selecting a reason for that operation from a pre-defined list of reasons. It is important to note that the web service requires the card number and the desired operation as input. As output the web service send back the result of the processing that could be either successfully or unsuccessfully, in what case, the system will share an error code for investigation.
                          </p>
                        <h3>Functional Description</h3>
                         <img  src="./docs/UpdateCardStatus.png" />
            summary:    This web service activate an existing card in the system.    
            tags:
              - Card Status Management
            requestBody:
              description: 
                <img id="select-case-img" src="./docs/exclamation.png" /> 
                <label  id="select-case">To make Connect'API protocol more extensible, an array of <b>key value</b> pairs is available in All object.</label>
                <label id="select-case"> for example to indicate to the PowerCARD Connect’API that the Alias PAN is being sent instead of the card number, the Client must include a key TOKEN with value Y &#58; </label>
                <code id="key-value-token"> 
                     {
                          ...
                          "keyValues" &#58; [{
                              "key" &#58; "token",
                              "data" &#58; "y"
                          }],
                          ...
                     }
                </code>            
              required: true
              content:
                application/json:
                  schema:
                    $ref: '#/components/schemas/ActivateCardStatusV4Rq'
                application/xml:
                  schema:
                    $ref: '#/components/schemas/ActivateCardStatusV4Rq'
            responses:  
              200:
                description:
                        <div>
                              <p>Technical Error Codes &#58;</p>
                              <table>
                              <tr>
                              <th>Error code</th>
                              <th>Error Description</th>
                              </tr>
                              <tr>
                              <td>00000</td>
                              <td>Success</td>
                              </tr>
                              <tr>
                              <td>99999</td>
                              <td>System error</td>
                              </tr>
                              <tr>
                              <td>90009</td>
                              <td>Generic error for request validation failure (check size,format,mandatory etc..)</td>
                              </tr>
                              <tr>
                              <td>00002</td>
                              <td> Forbidden you don't have permission to access for this api</td>
                              </tr>
                              <tr>
                              <td>00007</td>
                              <td>Authorization header is empty</td>
                              </tr>
                              <tr>
                              <td>00008</td>
                              <td>Authorization header is missing</td>
                              </tr>
                              <tr>
                              <td>00009</td>
                              <td>Malformat Authorization content</td>
                              </tr>
                              <tr>
                              <td>00010</td>
                              <td>Bearer is required in the token</td>
                              </tr>
                              <tr>
                              <td>00011</td>
                              <td>Token expired</td>
                              </tr>
                              <tr>
                              <td>00012</td>
                              <td>Invalid token</td>
                              </tr>
                              </table>
                                <p>Business Error Codes &#58;</p>
                                <table>
                                  <tr>
                                    <th>Error code</th>
                                    <th>Error Description</th>
                                  <tr>
                                      <td>021301</td>
                                      <td>Invalid cardNumber /TokenID</td>
                                  </tr>
                                    <tr>
                                    <td>021302</td>
                                    <td>Invalid BankCode </td>
                                    </tr>      
                                  <tr>
                                    <td>000039</td>
                                    <td>Operation not permitted, cancelled card</td>
                                  </tr>  
                                  <tr>
                                    <td>000040</td>
                                    <td>Operation not permitted, replaced card</td>
                                  </tr>  
                                  <tr>
                                    <td>000041</td>
                                    <td>Card is expired</td>
                                  </tr>  
                                  <tr>
                                    <td>000047</td>
                                    <td>Card is restrictedCard is restricted</td>
                                  </tr>  
                                  <tr>
                                    <td>000042</td>
                                    <td>Card already activated</td>
                                  </tr>
                                  <tr>
                                  <td>000043</td>
                                  <td>Card already deactivated</td>
                                  </tr>                            				
                                </table>
                        </div> 
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/UpdateCardStatusV4Rs'
                  application/xml:
                          schema:
                              $ref: '#/components/schemas/UpdateCardStatusV4Rs'
  /payment-instrument/v4.0/cards/deliver_card:
        patch:
            description:
                        <h3>API Overview</h3>
                          <p>
                              This web services was introduced to allow changing the status of an existing card in the system. Agent and customers can ask to change the status of a card by selecting a reason for that operation from a pre-defined list of reasons. It is important to note that the web service requires the card number and the desired operation as input. As output the web service send back the result of the processing that could be either successfully or unsuccessfully, in what case, the system will share an error code for investigation.
                          </p>
                        <h3>Functional Description</h3>
                         <img  src="./docs/UpdateCardStatus.png" />
            summary:    This web service deliver an existing card in the system.    
            tags:
              - Card Status Management
            requestBody:
              description: 
                <img id="select-case-img" src="./docs/exclamation.png" /> 
                <label  id="select-case">To make Connect'API protocol more extensible, an array of <b>key value</b> pairs is available in All object.</label>
                <label id="select-case"> for example to indicate to the PowerCARD Connect’API that the Alias PAN is being sent instead of the card number, the Client must include a key TOKEN with value Y &#58; </label>
                <code id="key-value-token"> 
                     {
                          ...
                          "keyValues" &#58; [{
                              "key" &#58; "token",
                              "data" &#58; "y"
                          }],
                          ...
                     }
                </code>            
              required: true
              content:
                application/json:
                  schema:
                    $ref: '#/components/schemas/DeliverCardStatusV4Rq'
                application/xml:
                  schema:
                    $ref: '#/components/schemas/DeliverCardStatusV4Rq'
            responses:  
              200:
                description:
                        <div>
                              <div>
                              <p>Technical Error Codes &#58;</p>
                              <table>
                              <tr>
                              <th>Error code</th>
                              <th>Error Description</th>
                              </tr>
                              <tr>
                              <td>00000</td>
                              <td>Success</td>
                              </tr>
                              <tr>
                              <td>99999</td>
                              <td>System error</td>
                              </tr>
                              <tr>
                              <td>90009</td>
                              <td>Generic error for request validation failure (check size,format,mandatory etc..)</td>
                              </tr>
                              <tr>
                              <td>00002</td>
                              <td> Forbidden you don't have permission to access for this api</td>
                              </tr>
                              <tr>
                              <td>00007</td>
                              <td>Authorization header is empty</td>
                              </tr>
                              <tr>
                              <td>00008</td>
                              <td>Authorization header is missing</td>
                              </tr>
                              <tr>
                              <td>00009</td>
                              <td>Malformat Authorization content</td>
                              </tr>
                              <tr>
                              <td>00010</td>
                              <td>Bearer is required in the token</td>
                              </tr>
                              <tr>
                              <td>00011</td>
                              <td>Token expired</td>
                              </tr>
                              <tr>
                              <td>00012</td>
                              <td>Invalid token</td>
                              </tr>
                              </table>
                              <p>Business Error Codes &#58;</p>
                              <table>
                              <tr>
                              <th>Error code</th>
                              <th>Error Description</th>
                              <tr>
                              <td>021301</td>
                              <td>Invalid cardNumber /TokenID</td>
                              </tr>
                              <tr>
                              <td>021302</td>
                              <td>Invalid BankCode </td>
                              </tr>
                              <tr>
                                <td>000118</td>
                                    <td>Invalid Delivery Mode</td>
                                  </tr>    
                                  <tr>
                                    <td>000039</td>
                                    <td>Operation not permitted, cancelled card</td>
                                  </tr>    
                                  <tr>
                                    <td>000040</td>
                                    <td>Operation not permitted, replaced card</td>
                                  </tr>    
                                  <tr>
                                    <td>000041</td>
                                    <td>Card is expired</td>
                                  </tr>    
                                  <tr>
                                    <td>000047</td>
                                    <td>Card is restricted</td>
                                  </tr>    
                                  <tr>
                                    <td>000044</td>
                                    <td>Card already delivered</td>
                                  </tr>                                  				
                                </table>
                        </div> 
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/UpdateCardStatusV4Rs'
                  application/xml:
                          schema:
                              $ref: '#/components/schemas/UpdateCardStatusV4Rs'
  /payment-instrument/v4.0/cards/stop_renew_card:
        patch:
            description:
                        <h3>API Overview</h3>
                          <p>
                              This web services was introduced to allow changing the status of an existing card in the system. Agent and customers can ask to change the status of a card by selecting a reason for that operation from a pre-defined list of reasons. It is important to note that the web service requires the card number and the desired operation as input. As output the web service send back the result of the processing that could be either successfully or unsuccessfully, in what case, the system will share an error code for investigation.
                          </p>
                        <h3>Functional Description</h3>
                         <img  src="./docs/UpdateCardStatus.png" />
            summary:    This web service stop renew card for an existing card in the system.    
            tags:
              - Card Status Management
            requestBody:
              description: 
                <img id="select-case-img" src="./docs/exclamation.png" /> 
                <label  id="select-case">To make Connect'API protocol more extensible, an array of <b>key value</b> pairs is available in All object.</label>
                <label id="select-case"> for example to indicate to the PowerCARD Connect’API that the Alias PAN is being sent instead of the card number, the Client must include a key TOKEN with value Y &#58; </label>
                <code id="key-value-token"> 
                     {
                          ...
                          "keyValues" &#58; [{
                              "key" &#58; "token",
                              "data" &#58; "y"
                          }],
                          ...
                     }
                </code>            
              required: true
              content:
                application/json:
                  schema:
                    $ref: '#/components/schemas/StopRenewCardStatusV4Rq'
                application/xml:
                  schema:
                    $ref: '#/components/schemas/StopRenewCardStatusV4Rq'
            responses:  
              200:
                description:
                        <div>
                                <div>
                                <p>Technical Error Codes &#58;</p>
                                <table>
                                <tr>
                                <th>Error code</th>
                                <th>Error Description</th>
                                </tr>
                                <tr>
                                <td>00000</td>
                                <td>Success</td>
                                </tr>
                                <tr>
                                <td>99999</td>
                                <td>System error</td>
                                </tr>
                                <tr>
                                <td>90009</td>
                                <td>Generic error for request validation failure (check size,format,mandatory etc..)</td>
                                </tr>
                                <tr>
                                <td>00002</td>
                                <td> Forbidden you don't have permission to access for this api</td>
                                </tr>
                                <tr>
                                <td>00007</td>
                                <td>Authorization header is empty</td>
                                </tr>
                                <tr>
                                <td>00008</td>
                                <td>Authorization header is missing</td>
                                </tr>
                                <tr>
                                <td>00009</td>
                                <td>Malformat Authorization content</td>
                                </tr>
                                <tr>
                                <td>00010</td>
                                <td>Bearer is required in the token</td>
                                </tr>
                                <tr>
                                <td>00011</td>
                                <td>Token expired</td>
                                </tr>
                                <tr>
                                <td>00012</td>
                                <td>Invalid token</td>
                                </tr>
                                </table>
                                <p>Business Error Codes &#58;</p>
                                <table>
                                <tr>
                                <th>Error code</th>
                                <th>Error Description</th>
                                <tr>
                                <td>021301</td>
                                <td>Invalid cardNumber /TokenID</td>
                                </tr>
                                <tr>
                                <td>021302</td>
                                <td>Invalid BankCode </td>
                                </tr>
                                <tr>
                                    <td>000117</td>
                                    <td>Invalid Stop Renewal Reason</td>
                                  </tr>                               				
                                  <tr>
                                    <td>000039</td>
                                    <td>Operation not permitted, cancelled card</td>
                                  </tr>  
                                  <tr>
                                    <td>000040</td>
                                    <td>Operation not permitted, replaced card</td>
                                  </tr>  
                                  <tr>
                                    <td>000041</td>
                                    <td>Card is expired</td>
                                  </tr>  
                                  <tr>
                                    <td>000105</td>
                                    <td>Stop renewal is rejected for this card</td>
                                  </tr>  
                                </table>
                        </div> 
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/UpdateCardStatusV4Rs'
                  application/xml:
                          schema:
                              $ref: '#/components/schemas/UpdateCardStatusV4Rs'
  /payment-instrument/v4.0/cards/cancel_status:
    patch:
      description:
        <h3>API Overview</h3>
        <p>
        This web services was introduced to allow changing the status of an existing card in the system. Agent and customers can ask to change the status of a card by selecting a reason for that operation from a pre-defined list of reasons. It is important to note that the web service requires the card number and the desired operation as input. As output the web service send back the result of the processing that could be either successfully or unsuccessfully, in what case, the system will share an error code for investigation.
        </p>
        <h3>Functional Description</h3>
        <img  src="./docs/UpdateCardStatus.png" />
      summary:    This web service cancel an existing card in the system.
      tags:
        - Card Status Management
      requestBody:
        description:
          <img id="select-case-img" src="./docs/exclamation.png" />
          <label  id="select-case">To make Connect'API protocol more extensible, an array of <b>key value</b> pairs is available in All object.</label>
          <label id="select-case"> for example to indicate to the PowerCARD Connect’API that the Alias PAN is being sent instead of the card number, the Client must include a key TOKEN with value Y &#58; </label>
          <code id="key-value-token">
          {
          ...
          "keyValues" &#58; [{
          "key" &#58; "token",
          "data" &#58; "y"
          }],
          ...
          }
          </code>
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCardStatusCancelV4Rq'
          application/xml:
            schema:
              $ref: '#/components/schemas/UpdateCardStatusCancelV4Rq'
      responses:
        200:
          description:
            <div>
            <div>
            <p>Technical Error Codes &#58;</p>
            <table>
            <tr>
            <th>Error code</th>
            <th>Error Description</th>
            </tr>
            <tr>
            <td>00000</td>
            <td>Success</td>
            </tr>
            <tr>
            <td>99999</td>
            <td>System error</td>
            </tr>
            <tr>
            <td>90009</td>
            <td>Generic error for request validation failure (check size,format,mandatory etc..)</td>
            </tr>
            <tr>
            <td>00002</td>
            <td> Forbidden you don't have permission to access for this api</td>
            </tr>
            <tr>
            <td>00007</td>
            <td>Authorization header is empty</td>
            </tr>
            <tr>
            <td>00008</td>
            <td>Authorization header is missing</td>
            </tr>
            <tr>
            <td>00009</td>
            <td>Malformat Authorization content</td>
            </tr>
            <tr>
            <td>00010</td>
            <td>Bearer is required in the token</td>
            </tr>
            <tr>
            <td>00011</td>
            <td>Token expired</td>
            </tr>
            <tr>
            <td>00012</td>
            <td>Invalid token</td>
            </tr>
            </table>
            <p>Business Error Codes &#58;</p>
            <table>
            <tr>
            <th>Error code</th>
            <th>Error Description</th>
            <tr>
            <td>021301</td>
            <td>Invalid cardNumber /TokenID</td>
            </tr>
            <tr>
            <td>021302</td>
            <td>Invalid BankCode </td>
            </tr>
            <tr>
            <td>000124 <b>[deprecated]</b> </td>
            <td>Status date is required</td>
            </tr>
            <tr>
            <td>0001110 <b>[deprecated]</b></td>
            <td>Invalid status code</td>
            </tr>
            <tr>
            <td>000109</td>
            <td>Invalid reason code</td>
            </tr>
            <tr>
            <td>000046</td>
            <td>Change already present</td>
            </tr>
            </table>
            </div>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateCardStatusV4Rs'
            application/xml:
              schema:
                $ref: '#/components/schemas/UpdateCardStatusV4Rs'
  /payment-instrument/v4.0/cards/cancel_card:
        delete:
            deprecated: true
            description:
                        <p id="deprecated-label">Since version PWC-4.1.0 !</p>
                        <h3>API Overview</h3>
                          <p>
                              This web services was introduced to allow changing the status of an existing card in the system. Agent and customers can ask to change the status of a card by selecting a reason for that operation from a pre-defined list of reasons. It is important to note that the web service requires the card number and the desired operation as input. As output the web service send back the result of the processing that could be either successfully or unsuccessfully, in what case, the system will share an error code for investigation.
                          </p>
                        <h3>Functional Description</h3>
                         <img  src="./docs/UpdateCardStatus.png" />
            summary:    This web service cancel an existing card in the system.    
            tags:
              - Card Status Management
            requestBody:
              description:
                <img id="select-case-img" src="./docs/exclamation.png" />
                <label  id="select-case">To make Connect'API protocol more extensible, an array of <b>key value</b> pairs is available in All object.</label>
                <label id="select-case"> for example to indicate to the PowerCARD Connect’API that the Alias PAN is being sent instead of the card number, the Client must include a key TOKEN with value Y &#58; </label>
                <code id="key-value-token"> 
                     {
                          ...
                          "keyValues" &#58; [{
                              "key" &#58; "token",
                              "data" &#58; "y"
                          }],
                          ...
                     }
                </code>            
              required: true
              content:
                application/json:
                  schema:
                    $ref: '#/components/schemas/UpdateCardStatusCancelV4Rq'
                application/xml:
                  schema:
                    $ref: '#/components/schemas/UpdateCardStatusCancelV4Rq'
            responses:  
              200:
                description:
                        <div>
                              <div>
                              <p>Technical Error Codes &#58;</p>
                              <table>
                              <tr>
                              <th>Error code</th>
                              <th>Error Description</th>
                              </tr>
                              <tr>
                              <td>00000</td>
                              <td>Success</td>
                              </tr>
                              <tr>
                              <td>99999</td>
                              <td>System error</td>
                              </tr>
                              <tr>
                              <td>90009</td>
                              <td>Generic error for request validation failure (check size,format,mandatory etc..)</td>
                              </tr>
                              <tr>
                              <td>00002</td>
                              <td> Forbidden you don't have permission to access for this api</td>
                              </tr>
                              <tr>
                              <td>00007</td>
                              <td>Authorization header is empty</td>
                              </tr>
                              <tr>
                              <td>00008</td>
                              <td>Authorization header is missing</td>
                              </tr>
                              <tr>
                              <td>00009</td>
                              <td>Malformat Authorization content</td>
                              </tr>
                              <tr>
                              <td>00010</td>
                              <td>Bearer is required in the token</td>
                              </tr>
                              <tr>
                              <td>00011</td>
                              <td>Token expired</td>
                              </tr>
                              <tr>
                              <td>00012</td>
                              <td>Invalid token</td>
                              </tr>
                              </table>
                              <p>Business Error Codes &#58;</p>
                              <table>
                              <tr>
                              <th>Error code</th>
                              <th>Error Description</th>
                              <tr>
                              <td>021301</td>
                              <td>Invalid cardNumber /TokenID</td>
                              </tr>
                              <tr>
                              <td>021302</td>
                              <td>Invalid BankCode </td>
                              </tr>                                     				
                                  <tr>
                                    <td>000124 <b>[deprecated]</b></td>
                                    <td>Status date is required</td>
                                  </tr>     
                                  <tr>
                                    <td>0001110 <b>[deprecated]</b></td>
                                    <td>Invalid status code</td>
                                  </tr>     
                                  <tr>
                                    <td>000109</td>
                                    <td>Invalid reason code</td>
                              </tr>     
                              <tr>
                                    <td>000046</td>
                                    <td>Change already present</td>
                              </tr> 
                              </table>
                        </div> 
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/UpdateCardStatusV4Rs'
                  application/xml:
                          schema:
                              $ref: '#/components/schemas/UpdateCardStatusV4Rs'
  /payment-instrument/v4.0/cards/change_status:
    put:
      description:
        <h3>API Overview</h3>
        <p>
        This web services was introduced to allow changing the status of an existing card in the system. Agent and customers can ask to change the status of a card by selecting a reason for that operation from a pre-defined list of reasons. It is important to note that the web service requires the card number and the desired operation as input. As output the web service send back the result of the processing that could be either successfully or unsuccessfully, in what case, the system will share an error code for investigation.
        </p>
        <h3>Functional Description</h3>
        <img  src="./docs/UpdateCardStatus.png" />
      summary:    This web service change status of an existing card in the system.
      tags:
        - Card Status Management
      requestBody:
        description:
          <img id="select-case-img" src="./docs/exclamation.png" />
          <label  id="select-case">To make Connect'API protocol more extensible, an array of <b>key value</b> pairs is available in All object.</label>
          <label id="select-case"> for example to indicate to the PowerCARD Connect’API that the Alias PAN is being sent instead of the card number, the Client must include a key TOKEN with value Y &#58; </label>
          <code id="key-value-token">
          {
          ...
          "keyValues" &#58; [{
          "key" &#58; "token",
          "data" &#58; "y"
          }],
          ...
          }
          </code>
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeCardStatusV4Rq'
          application/xml:
            schema:
              $ref: '#/components/schemas/ChangeCardStatusV4Rq'
      responses:
        200:
          description:
            <div>
            <div>
            <p>Technical Error Codes &#58;</p>
            <table>
            <tr>
            <th>Error code</th>
            <th>Error Description</th>
            </tr>
            <tr>
            <td>00000</td>
            <td>Success</td>
            </tr>
            <tr>
            <td>99999</td>
            <td>System error</td>
            </tr>
            <tr>
            <td>90009</td>
            <td>Generic error for request validation failure (check size,format,mandatory etc..)</td>
            </tr>
            <tr>
            <td>00002</td>
            <td> Forbidden you don't have permission to access for this api</td>
            </tr>
            <tr>
            <td>00007</td>
            <td>Authorization header is empty</td>
            </tr>
            <tr>
            <td>00008</td>
            <td>Authorization header is missing</td>
            </tr>
            <tr>
            <td>00009</td>
            <td>Malformat Authorization content</td>
            </tr>
            <tr>
            <td>00010</td>
            <td>Bearer is required in the token</td>
            </tr>
            <tr>
            <td>00011</td>
            <td>Token expired</td>
            </tr>
            <tr>
            <td>00012</td>
            <td>Invalid token</td>
            </tr>
            </table>
                <p>Business Error Codes &#58;</p>
                <table>
                <tr>
                <th>Error code</th>
                <th>Error Description</th>
                <tr>
                <td>021301</td>
                <td>Invalid cardNumber /TokenID</td>
                </tr>
                <tr>
                <td>021302</td>
                <td>Invalid BankCode </td>
                </tr>
                <tr>
                <td>000124</td>
                <td>Status date is required</td>
                </tr>
                <tr>
                <td>0001110</td>
                <td>Invalid status code</td>
                </tr>
                <tr>
                <td>000109</td>
                <td>Invalid reason code</td>
                </tr>
                <tr>
                <td>000046</td>
                <td>Change already present</td>
                </tr>
            </table>
            </div>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateCardStatusV4Rs'
            application/xml:
              schema:
                $ref: '#/components/schemas/UpdateCardStatusV4Rs'
  /payment-instrument/v4.0/cards/update_primary_address:
        put:
            description:
                        <h3>API Overview</h3>
                        <a target="_blank" rel="noopener noreferrer" href="https://sandbox.connectapi.hps-worldwide.com/PowerCardConnectApi/jaxws/UpdateAddress/V2?wsdl"><img  src="./docs/soap_logo.jpg" /><u>SOAP WSDL</u></a>
                          <p>
                              The aim of this web service is to update the address of an existing customer or card, this web service can be invoked by customers and agents. The change will take place immediately in the system and all the next communication with that customer or card will take the new address being shared in the request into consideration.
                          </p>
                        <h3>Functional Description</h3>
                        <img  src="./docs/UpdateAddressWebService.png" />
            summary:  Update the primary address of an existing card.
            tags:
              - Update Card Primary Address
            requestBody:
              description: 
                <img id="select-case-img" src="./docs/exclamation.png" /> 
                <label  id="select-case">To make Connect'API protocol more extensible, an array of <b>key value</b> pairs is available in All object.</label>
                <label id="select-case"> for example to indicate to the PowerCARD Connect’API that the Alias PAN is being sent instead of the card number, the Client must include a key TOKEN with value Y &#58; </label>
                <code id="key-value-token"> 
                     {
                          ...
                          "keyValues" &#58; [{
                              "key" &#58; "token",
                              "data" &#58; "y"
                          }],
                          ...
                     }
                </code>   
              required: true
              content:
                application/json:
                  schema:
                    $ref: '#/components/schemas/UpdateCardPrimaryAddressV4Rq'
                application/xml:
                  schema:
                    $ref: '#/components/schemas/UpdateCardPrimaryAddressV4Rq'
            responses:  
              200:
                description:
                        <div>
                               <p>Technical Error Codes &#58;</p>
                              <table>
                              <tr>
                              <th>Error code</th>
                              <th>Error Description</th>
                              </tr>
                              <tr>
                              <td>00000</td>
                              <td>Success</td>
                              </tr>
                              <tr>
                              <td>99999</td>
                              <td>System error</td>
                              </tr>
                              <tr>
                              <td>90009</td>
                              <td>Generic error for request validation failure (check size,format,mandatory etc..)</td>
                              </tr>
                              <tr>
                              <td>00002</td>
                              <td> Forbidden you don't have permission to access for this api</td>
                              </tr>
                              <tr>
                              <td>00007</td>
                              <td>Authorization header is empty</td>
                              </tr>
                              <tr>
                              <td>00008</td>
                              <td>Authorization header is missing</td>
                              </tr>
                              <tr>
                              <td>00009</td>
                              <td>Malformat Authorization content</td>
                              </tr>
                              <tr>
                              <td>00010</td>
                              <td>Bearer is required in the token</td>
                              </tr>
                              <tr>
                              <td>00011</td>
                              <td>Token expired</td>
                              </tr>
                              <tr>
                              <td>00012</td>
                              <td>Invalid token</td>
                              </tr>
                              </table>
                                <p>Business Error Codes &#58;</p>
                                <table>
                                  <tr>
                                    <th>Error code</th>
                                    <th>Error Description</th>
                                  </tr>
                                  <tr>
                                  <td>021301</td>
                                  <td>Invalid CardNumber / TokenID</td>
                                  </tr>
                                  <tr>
                                  <td>021302</td>
                                  <td>Invalid bankCode</td>
                                  </tr>
                                 <tr>
                                    <td>000151</td>
                                    <td>Primary address is required</td>
                                  </tr>   
                                  <tr>
                                    <td>000131</td>
                                    <td>Missing address type in the address</td>
                                  </tr>                                    				
                                  <tr>
                                    <td>000129</td>
                                    <td>Missing sending mode in the address</td>
                                  </tr>   
                                  <tr>
                                    <td>000127</td>
                                    <td>Missing first line in the address</td>
                                  </tr>   
                                  <tr>
                                    <td>000135</td>
                                    <td>Missing country code in the address</td>
                                  </tr>   
                                  <tr>
                                    <td>000130</td>
                                    <td>Invalid address type</td>
                                  </tr>   
                                  <tr>
                                    <td>000128</td>
                                    <td>Invalid sending mode</td>
                                  </tr>   
                                  <tr>
                                    <td>000136</td>
                                    <td>Invalid country code</td>
                                  </tr>      
                                </table>
                        </div> 
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/UpdateCardAddressV4Rs'
                  application/xml:
                          schema:
                              $ref: '#/components/schemas/UpdateCardAddressV4Rs'   
  /payment-instrument/v4.0/cards/update_secondary_address:
        put:
            description:
                        <h3>API Overview</h3>
                        <a target="_blank" rel="noopener noreferrer" href="https://sandbox.connectapi.hps-worldwide.com/PowerCardConnectApi/jaxws/UpdateAddress/V2?wsdl"><img  src="./docs/soap_logo.jpg" /><u>SOAP WSDL</u></a>
                          <p>
                              The aim of this web service is to update the address of an existing customer or card, this web service can be invoked by customers and agents. The change will take place immediately in the system and all the next communication with that customer or card will take the new address being shared in the request into consideration.
                          </p>
                        <h3>Functional Description</h3>
                        <img  src="./docs/UpdateAddressWebService.png" />
            summary:  Update the secondary address of an existing card.
            tags:
              - Update Card Secondary Address
            requestBody:
              description: 
                <img id="select-case-img" src="./docs/exclamation.png" /> 
                <label  id="select-case">To make Connect'API protocol more extensible, an array of <b>key value</b> pairs is available in All object.</label>
                <label id="select-case"> for example to indicate to the PowerCARD Connect’API that the Alias PAN is being sent instead of the card number, the Client must include a key TOKEN with value Y &#58; </label>
                <code id="key-value-token"> 
                     {
                          ...
                          "keyValues" &#58; [{
                              "key" &#58; "token",
                              "data" &#58; "y"
                          }],
                          ...
                     }
                </code>   
              required: true
              content:
                application/json:
                  schema:
                    $ref: '#/components/schemas/UpdateCardSeceondaryAddressV4Rq'
                application/xml:
                  schema:
                    $ref: '#/components/schemas/UpdateCardSeceondaryAddressV4Rq'
            responses:  
              200:
                description:
                        <div>
                              <p>Technical Error Codes &#58;</p>
                              <table>
                              <tr>
                              <th>Error code</th>
                              <th>Error Description</th>
                              </tr>
                              <tr>
                              <td>00000</td>
                              <td>Success</td>
                              </tr>
                              <tr>
                              <td>99999</td>
                              <td>System error</td>
                              </tr>
                              <tr>
                              <td>90009</td>
                              <td>Generic error for request validation failure (check size,format,mandatory etc..)</td>
                              </tr>
                              <tr>
                              <td>00002</td>
                              <td> Forbidden you don't have permission to access for this api</td>
                              </tr>
                              <tr>
                              <td>00007</td>
                              <td>Authorization header is empty</td>
                              </tr>
                              <tr>
                              <td>00008</td>
                              <td>Authorization header is missing</td>
                              </tr>
                              <tr>
                              <td>00009</td>
                              <td>Malformat Authorization content</td>
                              </tr>
                              <tr>
                              <td>00010</td>
                              <td>Bearer is required in the token</td>
                              </tr>
                              <tr>
                              <td>00011</td>
                              <td>Token expired</td>
                              </tr>
                              <tr>
                              <td>00012</td>
                              <td>Invalid token</td>
                              </tr>
                              </table>
                                <p>Business Error Codes &#58;</p>
                                <table>
                                  <tr>
                                    <th>Error code</th>
                                    <th>Error Description</th>
                                        <tr>
                                        <td>021301</td>
                                        <td>Invalid CardNumber / TokenID</td>
                                        </tr>
                                        <tr>
                                        <td>021302</td>
                                        <td>Invalid bankCode</td>
                                        </tr>
                                        <tr>
                                          <td>000133</td>
                                          <td>Secondary address is required</td>
                                        </tr>                                    				
                                        <tr>
                                          <td>000131</td>
                                          <td>Missing address type in the address</td>
                                        </tr>    
                                        <tr>
                                          <td>000130</td>
                                          <td>Invalid address type</td>
                                        </tr>    
                                        <tr>
                                          <td>000128</td>
                                          <td>Invalid sending mode</td>
                                        </tr>    
                                        <tr>
                                          <td>000129</td>
                                          <td>Missing sending mode in the address</td>
                                        </tr>    
                                        <tr>
                                          <td>000135</td>
                                          <td>Missing country code in the address</td>
                                        </tr>    
                                        <tr>
                                          <td>000136</td>
                                          <td>Invalid country code</td>
                                        </tr> 
                                        <tr>
                                          <td>000132</td>
                                          <td>No secondary address is available for this card</td>
                                        </tr> 
                                        <tr>
                                          <td>001150</td>
                                          <td>The provided address type is not matching with an exiting address of the card</td>
                                        </tr> 
                                      </table>
                        </div> 
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/UpdateCardAddressV4Rs'
                  application/xml:
                          schema:
                              $ref: '#/components/schemas/UpdateCardAddressV4Rs'
  #activate card event notification
  /payment-instrument/v4.0/cards/activate_channel_notification:
    patch:
      description:
        <h3>API Overview</h3>
        <p>
        This web service is used activate/deactivate a communication channel as well as set communication event channel preferences.
        </p>
        <h3>Functional Description</h3>
        <img  src="./docs/updateCardNotifEvent.png" />
      summary: This web service is used activate/deactivate a card communication event.
      tags:
        - Activate card channel notification
      requestBody:
        description:
          <img id="select-case-img" src="./docs/exclamation.png" />
          <label  id="select-case">To make Connect'API protocol more extensible, an array of <b>key value</b> pairs is available in All object.</label>
          <label id="select-case"> for example to indicate to the PowerCARD Connect’API that the Alias PAN is being sent instead of the card number, the Client must include a key TOKEN with value Y &#58; </label>
          <code id="key-value-token">
          {
          ...
          "keyValues" &#58; [{
          "key" &#58; "token",
          "data" &#58; "y"
          }],
          ...
          }
          </code>
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActivateCardChannelNotificationRequestV4Rq'
          application/xml:
            schema:
              $ref: '#/components/schemas/ActivateCardChannelNotificationRequestV4Rq'
      responses:
        200:
          description:
            <div>
            <p>Technical Error Codes &#58;</p>
            <table>
            <tr>
            <th>Error code</th>
            <th>Error Description</th>
            </tr>
            <tr>
            <td>00000</td>
            <td>Success</td>
            </tr>
            <tr>
            <td>99999</td>
            <td>System error</td>
            </tr>
            <tr>
            <td>90009</td>
            <td>Generic error for request validation failure (check size,format,mandatory etc..)</td>
            </tr>
            <tr>
            <td>00002</td>
            <td> Forbidden you don't have permission to access for this api</td>
            </tr>
            <tr>
            <td>00007</td>
            <td>Authorization header is empty</td>
            </tr>
            <tr>
            <td>00008</td>
            <td>Authorization header is missing</td>
            </tr>
            <tr>
            <td>00009</td>
            <td>Malformat Authorization content</td>
            </tr>
            <tr>
            <td>00010</td>
            <td>Bearer is required in the token</td>
            </tr>
            <tr>
            <td>00011</td>
            <td>Token expired</td>
            </tr>
            <tr>
            <td>00012</td>
            <td>Invalid token</td>
            </tr>
            <table>
            <p>Business Error Codes &#58;</p>
            <table>
            <tr>
            <th>Error code</th>
            <th>Error Description</th>
            </tr>
            <tr>
            <td>021301</td>
            <td>Invalid CardNumber / TokenID</td>
            </tr>
            <tr>
            <td>021302</td>
            <td>Invalid bankCode</td>
            </tr>
            <tr>
            <td>000241</td>
            <td>Communication setup not found</td>
            </tr>
            <tr>
            <td>000242</td>
            <td>Event not found</td>
            </tr>
            <tr>
            <td>000243</td>
            <td>Channel not found</td>
            </tr>
            </table>
            </div>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckCustomFieldValueV4Rs'
            application/xml:
              schema:
                $ref: '#/components/schemas/CheckCustomFieldValueV4Rs'
  #activate card event notification
  /payment-instrument/v4.0/cards/activate_event_notification:
    patch:
      description:
        <h3>API Overview</h3>
        <p>
        This web service is used activate/deactivate a communication event as well as set communication event channel preferences.
        </p>
        <h3>Functional Description</h3>
        <img  src="./docs/updateCardNotifEvent.png" />
      summary: This web service is used activate/deactivate a card communication event.
      tags:
        - Activate card event notification
      requestBody:
        description:
          <img id="select-case-img" src="./docs/exclamation.png" />
          <label  id="select-case">To make Connect'API protocol more extensible, an array of <b>key value</b> pairs is available in All object.</label>
          <label id="select-case"> for example to indicate to the PowerCARD Connect’API that the Alias PAN is being sent instead of the card number, the Client must include a key TOKEN with value Y &#58; </label>
          <code id="key-value-token">
          {
          ...
          "keyValues" &#58; [{
          "key" &#58; "token",
          "data" &#58; "y"
          }],
          ...
          }
          </code>
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActivateCardEventNotificationRequestV4Rq'
          application/xml:
            schema:
              $ref: '#/components/schemas/ActivateCardEventNotificationRequestV4Rq'
      responses:
        200:
          description:
            <div>
            <p>Technical Error Codes &#58;</p>
            <table>
            <tr>
            <th>Error code</th>
            <th>Error Description</th>
            </tr>
            <tr>
            <td>00000</td>
            <td>Success</td>
            </tr>
            <tr>
            <td>99999</td>
            <td>System error</td>
            </tr>
            <tr>
            <td>90009</td>
            <td>Generic error for request validation failure (check size,format,mandatory etc..)</td>
            </tr>
            <tr>
            <td>00002</td>
            <td> Forbidden you don't have permission to access for this api</td>
            </tr>
            <tr>
            <td>00007</td>
            <td>Authorization header is empty</td>
            </tr>
            <tr>
            <td>00008</td>
            <td>Authorization header is missing</td>
            </tr>
            <tr>
            <td>00009</td>
            <td>Malformat Authorization content</td>
            </tr>
            <tr>
            <td>00010</td>
[...]
