openapi: "3.0.3"
info:
  title: Payment Instrument API documentation
  description: <p>Payment Instrument and Cardholder operation management include APIs for Payment Instrument maintenance , Payment instrument operations and Status operation.</p>
  version: PowerCARD-Issuer V4
servers:
  - url: https://api.wemeeting2023.pwcv4.com
    description: Development server
paths:

  # Renew card                                                
  /payment-instrument/v4.0/cards/renew_card:
        post:
            description:
                        <h3>API Overview</h3>
                          <p>
                               Usually a card is automatically renewed within the month it expires. However, for some reasons, as if when the customer is going to be out of the town during the renewal process, he may request to renew his card before its expiration date. For that, PowerCARD offers the possibility to use this web service. The service is mainly used to store the request that will be processed during the end of the day. 
                          </p>
                          <p>
                              It is important to mention here that PowerCARD makes multiple controls on the card before proceeding to perform the renewal action. Those controls are all defined in the system and can be activated or deactivated by the financial institution using the PowerCARD setup screens.
                          </p>
                        <h3>Functional Description</h3>
                         <img  src="./docs/RenewCard.png" />
            summary:    A customer can request to renew his card before its expiration date.
            tags:
              - Renew Card
            requestBody:
              required: true
              content:
                application/json:
                  schema:
                    $ref: '#/components/schemas/RenewCardV4Rq'
                application/xml:
                  schema:
                    $ref: '#/components/schemas/RenewCardV4Rq'
              description: 
                <img id="select-case-img" src="./docs/exclamation.png" /> 
                <label  id="select-case">To make Connect'API protocol more extensible, an array of <b>key value</b> pairs is available in All object.</label>
                <label id="select-case"> for example to indicate to the PowerCARD Connect’API that the Alias PAN is being sent instead of the card number, the Client must include a key TOKEN with value Y &#58; </label>
                <code id="key-value-token"> 
                     {
                          ...
                          "keyValues" &#58; [{
                              "key" &#58; "token",
                              "data" &#58; "y"
                          }],
                          ...
                     }
                </code>          
            responses:  
              200:
                description:
                        <div>
                            <p>Technical Error Codes &#58;</p>
                            <table>
                                <tr>
                                    <th>Error code</th>
                                    <th>Error Description</th>
                                </tr>
                                <tr>
                                    <td>00000</td>
                                    <td>Success</td>
                                </tr>
                                <tr>
                                    <td>99999</td>
                                    <td>System error</td>
                                </tr>
                                <tr>
                                    <td>90009</td>
                                    <td>Generic error for request validation failure (check size,format,mandatory etc..)</td>
                                </tr>
                                <tr>
                                    <td>00002</td>
                                    <td> Forbidden you don't have permission to access for this api</td>
                                </tr>
                                <tr>
                                    <td>00007</td>
                                    <td>Authorization header is empty</td>
                                </tr>
                                <tr>
                                    <td>00008</td>
                                    <td>Authorization header is missing</td>
                                </tr>
                                <tr>
                                    <td>00009</td>
                                    <td>Malformat Authorization content</td>
                                </tr>
                                <tr>
                                    <td>00010</td>
                                    <td>Bearer is required in the token</td>
                                </tr>
                                <tr>
                                    <td>00011</td>
                                    <td>Token expired</td>
                                </tr>
                                <tr>
                                    <td>00012</td>
                                    <td>Invalid token</td>
                                </tr>
                                <tr>
                                <td>00014</td>
                                <td>Invalid business date</td>
                                </tr>
                            <table>
                                <p>Business Error Codes &#58;</p>
                                <table>
                                      <tr>
                                        <th>Error code</th>
                                        <th>Error Description</th>
                                      </tr>
                                      <tr>
                                          <td>021301</td>
                                          <td>Invalid CardNumber / TokenID</td>
                                      </tr>
                                      <tr>
                                          <td>021302</td>
                                          <td>Invalid bankCode</td>
                                      </tr>
                                      <tr>
                                        <td>000119</td>
                                        <td>Month max validity exceeded</td>
                                      </tr>
                                      <tr>
                                        <td>0001131</td>
                                        <td>Month min validity exceeded</td>
                                      </tr>   
                                      <tr>
                                        <td>000039</td>
                                        <td>Operation not permitted, cancelled card</td>
                                      </tr>    
                                      <tr>
                                        <td>000040</td>
                                        <td>Operation not permitted, replaced card</td>
                                      </tr>  
                                      <tr>
                                        <td>000120</td>
                                        <td>Card in stop renewal</td>
                                      </tr>  
                                      <tr>
                                        <td>000021</td>
                                        <td>Card not allowed for renewal</td>
                                      </tr>  
                                      <tr>
                                        <td>000047</td>
                                        <td>Card is restricted</td>
                                      </tr>  
                                      <tr>
                                        <td>000115</td>
                                        <td>Card renewal blocked</td>
                                      </tr>                        					
                                </table>
                        </div> 
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/RenewCardV4Rs'
                  application/xml:
                          schema:
                              $ref: '#/components/schemas/RenewCardV4Rs'
 # Components definition
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 
          <div>
               <h5>Api key authorization</h5>
               <p>JWT authorization header using Bearer scheme. Example &#8282; "Authorization &#8282; Bearer {token}"</p>
               <table>
                  <tr>
                      <td>Name &#8282;</td>
                      <td>Authorization</td>
                  </tr>
                   <tr>
                      <td>In &#8282;</td>
                      <td>Header</td>
                  </tr>
                </table>
          </div>      
  schemas:
    
    # --- Import RenewCardV35Rq request and response definition
      RenewCardV4Rq:
              $ref: 'request.yaml#/RenewCardV4Rq'
      RenewCardV4Rs:
              $ref: 'response.yaml#/RenewCardV4Rs' 

security:
  - bearerAuth: []