openapi: "3.0.3"
info:
  title: Payment Instrument API documentation
  description: <p>Payment Instrument and Cardholder operation management include APIs for Payment Instrument maintenance , Payment instrument operations and Status operation.</p>
  version: PowerCARD-Issuer V4
servers:
  - url: https://api.wemeeting2023.pwcv4.com
    description: Development server
paths:
  # --- ReplaceCard
  /payment-instrument/v4.0/cards/replace_card:
        post:
            description:
                        <h3>API Overview</h3>
                          <p>
                             In PowerCARD, lost or damaged cards card be replaced in the system using this web service. Agents as well as customers can ask for the replacement of an existing card by specifying the reason. Based on that reason, the system can either replace the card by keeping the same card number or generating a new card number for the cardholder. 
                          </p>
                          <p>
                              The service allows also applying or not some fees amount while replacing a card. Fees are then charged to the account with a specific transaction code.
                          </p>
                        <h3>Functional Description</h3>
                         <img  src="./docs/ReplaceCard.png" />
            summary:     Lost or damaged cards card be replaced using this API.
            tags:
              - Replace Card
            requestBody:
              description: 
                <img id="select-case-img" src="./docs/exclamation.png" /> 
                <label  id="select-case">To make Connect'API protocol more extensible, an array of <b>key value</b> pairs is available in All object.</label>
                <label id="select-case"> for example to indicate to the PowerCARD Connect’API that the Alias PAN is being sent instead of the card number, the Client must include a key TOKEN with value Y &#58; </label>
                <code id="key-value-token"> 
                     {
                          ...
                          "keyValues" &#58; [{
                              "key" &#58; "token",
                              "data" &#58; "y"
                          }],
                          ...
                     }
                </code>                 
              required: true
              content:
                application/json:
                  schema:
                    $ref: '#/components/schemas/ReplaceCardV4Rq'
                application/xml:
                  schema:
                    $ref: '#/components/schemas/ReplaceCardV4Rq'
            responses:  
              200:
                description:
                          <div>
                          <p>Technical Error Codes &#58;</p>
                              <table>
                                  <tr>
                                  <th>Error code</th>
                                  <th>Error Description</th>
                                  </tr>
                                  <tr>
                                  <td>00000</td>
                                  <td>Success</td>
                                  </tr>
                                  <tr>
                                  <td>99999</td>
                                  <td>System error</td>
                                  </tr>
                                  <tr>
                                  <td>90009</td>
                                  <td>Generic error for request validation failure (check size,format,mandatory etc..)</td>
                                  </tr>
                                  <tr>
                                  <td>00002</td>
                                  <td> Forbidden you don't have permission to access for this api</td>
                                  </tr>
                                  <tr>
                                  <td>00007</td>
                                  <td>Authorization header is empty</td>
                                  </tr>
                                  <tr>
                                  <td>00008</td>
                                  <td>Authorization header is missing</td>
                                  </tr>
                                  <tr>
                                  <td>00009</td>
                                  <td>Malformat Authorization content</td>
                                  </tr>
                                  <tr>
                                  <td>00010</td>
                                  <td>Bearer is required in the token</td>
                                  </tr>
                                  <tr>
                                  <td>00011</td>
                                  <td>Token expired</td>
                                  </tr>
                                  <tr>
                                  <td>00012</td>
                                  <td>Invalid token</td>
                                  </tr>
                                    <tr>
                                    <td>00014</td>
                                    <td>Invalid business date</td>
                                    </tr>
                              <table>
                          <p>Business Error Codes &#58;</p>
                           <table>
                                <tr>
                                  <th>Error code</th>
                                  <th>Error Description</th> 
                                <tr>
                                  <td>000125</td>
                                  <td>Expiry date lesser than business date</td>
                                </tr>  
                                <tr>
                                  <td>000119</td>
                                  <td>Month max validity exceeded</td>
                                </tr>                                		
                                <tr>
                                  <td>0001131</td>
                                  <td>Month min validity exceeded</td>
                                </tr>  
                                <tr>
                                  <td>000039</td>
                                  <td>Operation not permitted, cancelled card</td>
                                </tr>
                                  <td>000040</td>
                                  <td>Operation not permitted, replaced card</td>
                                </tr>  
                                <tr>
                                  <td>001161</td>
                                  <td>Card not allowed for replace</td>
                                </tr>  
                                <tr>
                                  <td>000047</td>
                                  <td>Card is restricted</td>
                                </tr>  
                                <tr>
                                   <td>021301</td>
                                   <td>Invalid CardNumber / TokenID</td>
                                </tr>
                                <tr>
                                   <td>021302</td>
                                   <td>Invalid bankCode</td>
                                </tr>
                                  <tr>
                                  <td>000262</td>
                                  <td>Invalid replacement reason code</td>
                                  </tr>
                                  <tr>
                                  <td>000263</td>
                                  <td>Invalid replacement address code</td>
                                  </tr>
                           </table>
                  </div> 
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/ReplaceCardV4Rs'
                  application/xml:
                          schema:
                              $ref: '#/components/schemas/ReplaceCardV4Rs'   
 # Components definition
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 
          <div>
               <h5>Api key authorization</h5>
               <p>JWT authorization header using Bearer scheme. Example &#8282; "Authorization &#8282; Bearer {token}"</p>
               <table>
                  <tr>
                      <td>Name &#8282;</td>
                      <td>Authorization</td>
                  </tr>
                   <tr>
                      <td>In &#8282;</td>
                      <td>Header</td>
                  </tr>
                </table>
          </div>      
  schemas:

    # --- Import ReplaceCardV35 request and reponse definition
      ReplaceCardV4Rq:
              $ref: 'request.yaml#/ReplaceCardV4Rq'
      ReplaceCardV41Rq:
        $ref: 'request.yaml#/ReplaceCardV41Rq'
      ReplaceCardV4Rs:
              $ref: 'response.yaml#/ReplaceCardV4Rs'             
security:
  - bearerAuth: []
