openapi: "3.0.3"
info:
  title: Payment Instrument API documentation
  description: <p>Payment Instrument and Cardholder operation management include APIs for Payment Instrument maintenance , Payment instrument operations and Status operation.</p>
  version: PowerCARD-Issuer V4
servers:
  - url: https://api.wemeeting2023.pwcv4.com
    description: Development server
paths:
  /payment-instrument/v4.0/cards/stop_renew_card:
        patch:
            description:
                        <h3>API Overview</h3>
                          <p>
                              This web services was introduced to allow changing the status of an existing card in the system. Agent and customers can ask to change the status of a card by selecting a reason for that operation from a pre-defined list of reasons. It is important to note that the web service requires the card number and the desired operation as input. As output the web service send back the result of the processing that could be either successfully or unsuccessfully, in what case, the system will share an error code for investigation.
                          </p>
                        <h3>Functional Description</h3>
                         <img  src="./docs/UpdateCardStatus.png" />
            summary:    This web service stop renew card for an existing card in the system.    
            tags:
              - Card Status Management
            requestBody:
              description: 
                <img id="select-case-img" src="./docs/exclamation.png" /> 
                <label  id="select-case">To make Connect'API protocol more extensible, an array of <b>key value</b> pairs is available in All object.</label>
                <label id="select-case"> for example to indicate to the PowerCARD Connect’API that the Alias PAN is being sent instead of the card number, the Client must include a key TOKEN with value Y &#58; </label>
                <code id="key-value-token"> 
                     {
                          ...
                          "keyValues" &#58; [{
                              "key" &#58; "token",
                              "data" &#58; "y"
                          }],
                          ...
                     }
                </code>            
              required: true
              content:
                application/json:
                  schema:
                    $ref: '#/components/schemas/StopRenewCardStatusV4Rq'
                application/xml:
                  schema:
                    $ref: '#/components/schemas/StopRenewCardStatusV4Rq'
            responses:  
              200:
                description:
                        <div>
                                <div>
                                <p>Technical Error Codes &#58;</p>
                                <table>
                                <tr>
                                <th>Error code</th>
                                <th>Error Description</th>
                                </tr>
                                <tr>
                                <td>00000</td>
                                <td>Success</td>
                                </tr>
                                <tr>
                                <td>99999</td>
                                <td>System error</td>
                                </tr>
                                <tr>
                                <td>90009</td>
                                <td>Generic error for request validation failure (check size,format,mandatory etc..)</td>
                                </tr>
                                <tr>
                                <td>00002</td>
                                <td> Forbidden you don't have permission to access for this api</td>
                                </tr>
                                <tr>
                                <td>00007</td>
                                <td>Authorization header is empty</td>
                                </tr>
                                <tr>
                                <td>00008</td>
                                <td>Authorization header is missing</td>
                                </tr>
                                <tr>
                                <td>00009</td>
                                <td>Malformat Authorization content</td>
                                </tr>
                                <tr>
                                <td>00010</td>
                                <td>Bearer is required in the token</td>
                                </tr>
                                <tr>
                                <td>00011</td>
                                <td>Token expired</td>
                                </tr>
                                <tr>
                                <td>00012</td>
                                <td>Invalid token</td>
                                </tr>
                                <tr>
                                <td>00014</td>
                                <td>Invalid business date</td>
                                </tr>
                                </table>
                                <p>Business Error Codes &#58;</p>
                                <table>
                                <tr>
                                <th>Error code</th>
                                <th>Error Description</th>
                                <tr>
                                <td>021301</td>
                                <td>Invalid cardNumber /TokenID</td>
                                </tr>
                                <tr>
                                <td>021302</td>
                                <td>Invalid BankCode </td>
                                </tr>                            				
                                  <tr>
                                    <td>000039</td>
                                    <td>Operation not permitted, cancelled card</td>
                                  </tr>  
                                  <tr>
                                    <td>000040</td>
                                    <td>Operation not permitted, replaced card</td>
                                  </tr>  
                                  <tr>
                                    <td>000041</td>
                                    <td>Card is expired</td>
                                  </tr>  
                                  <tr>
                                    <td>000105</td>
                                    <td>Stop renewal is rejected for this card</td>
                                  </tr>  
                                </table>
                        </div> 
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/UpdateCardStatusV4Rs'
                  application/xml:
                          schema:
                              $ref: '#/components/schemas/UpdateCardStatusV4Rs'
 # Components definition
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 
          <div>
               <h5>Api key authorization</h5>
               <p>JWT authorization header using Bearer scheme. Example &#8282; "Authorization &#8282; Bearer {token}"</p>
               <table>
                  <tr>
                      <td>Name &#8282;</td>
                      <td>Authorization</td>
                  </tr>
                   <tr>
                      <td>In &#8282;</td>
                      <td>Header</td>
                  </tr>
                </table>
          </div>                  
  schemas:  
    # --- Import UpdateCardStatusV35 request and response definition
      StopRenewCardStatusV4Rq:
        $ref: 'request.yaml#/StopRenewCardStatusV4Rq'
      UpdateCardStatusV4Rs:
               $ref: 'response.yaml#/UpdateCardStatusV4Rs'           
security:
  - bearerAuth: []
