
@font-face {
  font-family: "f1";
  src: url("../fonts/MontBlanc-Trial-SemiBold.ttf");
}
@font-face {
  font-family: "ff3";
  src: url("../fonts/Utendo-Bold.ttf");
}


.light body {
background-image: url('../img/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.conte {
  display: flex;
  gap:30px;
  padding: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

.carde {
  width: 90%; /* Adjust the width as needed */
  max-width: 420px; /* Maximum width for larger screens */
  /* Adjust the width as needed */
  height: auto; /* Let the height adjust according to content */
  background-color: #141b2e;
  font-family: "ff3";
  border-radius: 0.7rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.322);
  padding: 1rem;
  margin: 15px; /* Adjust margin for spacing between cards */

}


@media (min-width: 600px) {
  .conte {
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 100px;
    justify-content: flex-start;

  }}

@media (max-width: 900px) {
  .conte {
    flex-shrink: 1;
    flex-grow: 1;
    justify-content: center;
    flex-basis: 100px;
  }
  .btn-wrapper {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 10%;
  }
  .carde {
    margin: 10px;
    width: 100%;
  }
}



.carde:hover {
  transform: translateY(-2px);
  box-shadow: 0px 3px 5px black;
}

/* Header styles */
.headere {
  font-family: "ff3";
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.2rem;
  width: 100%;
  padding: 1px;
  letter-spacing: 1PX;
  margin-top: 15px;
  /* background: #bb281b;
  background: radial-gradient(circle, rgb(118, 21, 21) 0%, rgb(183, 11, 11) 100%); */
}

.headere p {
  font-size: 14px;
  padding: 5px;
  margin: 5px;
  font-family: f1;
  color: #ffffff;
}

/* Info section styles */
.infoe {
  margin-top: 5px;
border-radius: 18px;
  padding: 1rem;
  text-align: center;
  width: 100%;
  font-size: 0.8rem;
  line-height: 1.8rem;
  color: white; /* Example color change */
}

/* Title styles */
.titlee {
  color: rgb(255, 255, 255);
  font-family: f1;
}

/* Footer styles */
.footere {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(19, 160, 255, 0);
}




.actione {
  width: 223PX;
  font-size: 0.9rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: none;
  outline: none;
  margin-top: 20PX;
  box-shadow: 0 2px 1px -0px rgba(255, 0, 0, 0.4),
    0 2px 4px -2px rgba(33, 150, 243, 0.4);
  color: rgb(0, 0, 0);
  /* background: #bb281b; */
  /* background: radial-gradient(circle, rgb(178, 3, 3) 0%, rgb(255, 49, 49) 100%); */
  box-shadow: 0 2px 2px -0px rgba(255, 0, 0, 0.4),
    2px 0px 0px -2px rgba(0, 0, 0, 0.4);
  padding: 0.6rem 1rem;
 
  color: #ffffff;
  border-radius: 1.3rem;
  font-family: "f1";
  word-spacing:3.6PX;
  letter-spacing: 1.7PX;  
}

/* .actione:hover {
background: #bb281b;
  background: radial-gradient(circle, rgb(253, 0, 0) 0%, rgb(255, 49, 49) 100%);
  box-shadow: 0 2px 2px -0px rgba(255, 0, 0, 0.4),
    2px 0px 0px -2px rgba(0, 0, 0, 0.4);
  background: rgb(255, 4, 0);
  background: linear-gradient(
    90deg,
    rgb(120, 17, 16) 2%,
    rgb(251, 8, 8) 52%,
    rgb(156, 7, 5) 95%
  );
  box-shadow: 0 2px 2px -0px rgb(255, 0, 0),
    0 0px 0px -2px rgb(0, 0, 0);
} */





.light .carde {
  /* light mode  */
  background-color: #ffffff;
  color: #ffffff;

}

.light .carde .desc {
color: #000000;
}
.light .carde titlee  {
  color: #000000;
}
/* Dark mode styles */
.dark .carde{
  box-shadow: 7px 5px  rgba(255, 255, 255, 0.473);

  /* ark mode  */
  background-color: #161a25  ;
  color: #ffffff;
}

.dark h1 {
  color: #ffffff;
}



.imagee{
  display: flex;
  flex-direction: column;
  justify-content: center;
    padding: 0%;
  justify-content: center;
  align-items: center;
}


