openapi: "3.0.3"
info:
  title: Payment Instrument API documentation
  description: <p>Payment Instrument and Cardholder operation management include APIs for Payment Instrument maintenance , Payment instrument operations and Status operation.</p>
  version: PowerCARD-Issuer 3.5.4-apiR5.3
servers:
  - url: https://sandbox.connectapi.hps-worldwide.com/PowerCardConnectApi/rest
    description: Development server
paths:

 # ------- TokenAuthentication API  

  /TokenAuthentication:
    post:
      description:  <h3>API Overview</h3>
                    <a target="_blank" rel="noopener noreferrer" href="https://sandbox.connectapi.hps-worldwide.com/PowerCardConnectApi/jaxws/TokenAuthentication?wsdl"><img  src="./docs/soap_logo.jpg" /><u>SOAP WSDL</u></a>                    <p>PowerCard Connect'API uses JWT authentication for securing the exposed REST APIs, the user will be able to consume API TokenAuthentification only if it has a valid Token.</p>
                    <p>The Connect’API authenticates all requests using the token available in the request itself, If such an authentication fails, Connect’API simply sends an HTTP code 401 (Unauthorized).</p>
                    <h3>Functional Description</h3>
                    <img  src="./docs/tokenAuthentication.png" />
      summary: Token Authentication service using user credentials. 
      tags:
        - User Token Authentication.
      requestBody:
        description: Token Authentication service using user credentials.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenAuthentication'
          application/xml:
            schema:
              $ref: '#/components/schemas/TokenAuthentication'      
      responses:
        200:
          description:
                  <div>
                          Successful
                          <p>Business Error Codes &#58;</p>
                           <table>
                              <tr>
                                <th>Error code</th>
                                <th>Error Description</th>
                              </tr>
                              <tr> 
                                <td>00000</td>
                                <td>Success</td>
                              </tr>	
                              <tr> 
                                <td>00001</td>
                                <td>System Error</td>
                              </tr>	
                              <tr> 
                                <td>00002</td>
                                <td>Invalid RqUID</td>
                              </tr>	
                              <tr> 
                                <td>00003</td>
                                <td>Authentication failed</td>
                              </tr>	
                              <tr> 
                                <td>00004</td>
                                <td>Unknown product</td>
                              </tr>	
                              <tr> 
                                <td>00005</td>
                                <td>Unknown language</td>
                              </tr>	
                              <tr> 
                                <td>00006</td>
                                <td>Invalid customer information</td>
                              </tr>
                              <tr> 
                                <td>00007</td>
                                <td>Invalid pagination step</td>
                              </tr>	
                              <tr> 
                                <td>00008</td>
                                <td>Access to the bank id data is denied</td>
                              </tr>	
                              <tr> 
                                <td>00010</td>
                                <td>Invalid Provider Data</td>
                              </tr>	
                              <tr> 
                                <td>00011</td>
                                <td>Invalid message</td>
                              </tr>	
                              <tr> 
                                <td>00012</td>
                                <td>User is blocked</td>
                              </tr>	
                              <tr> 
                                <td>00013</td>
                                <td>Account is deactivated</td>
                              </tr>	
                              <tr> 
                                <td>00014</td>
                                <td>Operation already performed</td>
                              </tr>	
                              <tr> 
                                <td>00020</td>
                                <td>Password Expired</td>
                              </tr>	
                              <tr> 
                                <td>00030</td>
                                <td>Waiting for validation</td>
                              </tr>	
                              <tr> 
                                <td>00040</td>
                                <td>Error when retrieving interface information</td>
                              </tr>	
                              <tr> 
                                <td>00041</td>
                                <td>Error when retrieving card information</td>
                              </tr>	
                              <tr> 
                                <td>00042</td>
                                <td>Error when retrieving token information</td>
                              </tr>	
                              <tr> 
                                <td>00043</td>
                                <td>Error while generating the token</td>
                              </tr>	
                              <tr> 
                                <td>00044</td>
                                <td>Error while inserting token information</td>
                              </tr>	
                              <tr> 
                                <td>00099</td>
                                <td>Invalid range date</td>
                              </tr>	
                              <tr> 
                                <td>99999</td>
                                <td>Database exception error</td>
                              </tr>									
                           </table>
                  </div> 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenAuthenticationResponse'
            application/xml:
                      schema:
                        $ref: '#/components/schemas/TokenAuthenticationResponse'                                                                 
#GetParameterList/V2  
  /GetParameterList/V2:
        post:
            description:
                        <h3>API Overview</h3>
                          <p>
                          This web service is used to search the referential lists in the system. Third-party application developers can use different criteria to find and view the desired lists as below &#8282;
                          </p>
                        <h3>Functional Description</h3>
                      <img  src="./docs/GetParameterList.png" /> 
                      <p>The API support two modes for searching &#8282; <br>
                        - Parameter &#8282;  the query must include search filters and the column to search.<br>
                        - Referentiel &#8282; the query must include the table name wich data must be returned .
                      </p>
            summary: This web service is used to search the referential lists in the system. 
            tags:
              - Get Parameters List
            requestBody:
              required: true
              description: 
                           <img id="select-case-img" src="./docs/exclamation.png" /> 
                           <label id="select-case">To try this API with different scenarios please click the button 'Try it out' then select a test case &#8282; </label>
                           <select  id="testCase1" class="content-type">
                                 <option value="account_type_list">ACCOUNT TYPE LIST</option>
                                 <option value="action_list">ACTION LIST</option>
                                 <option value="action_table">ACTION TABLE</option>
                                 <option value="address_type_list">ADDRESSES TYPE LIST</option>
                                 <option value="bank">BANK</option>
                                 <option value="branch">BRANCH</option>
                                 <option value="card_batch_status">CARD BATCH STATUS</option>
                                 <option value="card_product">CARD PRODUCT</option>
                                 <option value="card_status">CARD STATUS</option>
                                 <option value="card_reason">CASE REASON</option>
                                 <option value="card_type">CASE TYPE</option>
                                 <option value="city">CITY</option>
                                 <option value="country">COUNTRY</option>
                                 <option value="chain">CHAIN</option>
                                 <option value="cr_profile">CR PROFILE</option>
                                 <option value="currency_table">CURRENCY TABLE</option>
                                 <option value="document_list">DOCUMENT LIST</option>
                                 <option value="language_list">LANGUAGE LIST</option>
                                 <option value="mcc">MCC</option>
                                 <option value="owner_list">OWNER LIST</option>
                                 <option value="plastic_list">PLASTIC LIST</option>
                                 <option value="processing_list">PROCESSING LIST</option>
                                 <option value="protocol_list">PROTOCOL LIST</option>
                                 <option value="region">REGION</option>
                                 <option value="status_reason_list">STATUS REASON LIST</option>
                                 <option value="title_list">TITLE LIST</option>
                                 <option value="transaction_status">TRANSACTION STATUS</option>
                                 <option value="transaction_definition">TRANSACTIONS DEFINITION</option>
                                 <option value="vip_list">VIP LIST</option>
                                 <option value="withdrawl_reason_code">WITHDRAWAL REASON CODE</option>
                            </select>
              content:
                application/json:
                  schema:
                    $ref: '#/components/schemas/GetParameterListV35Rq'
                #application/xml:
                  #schema:
                   # $ref: '#/components/schemas/GetParameterListV35Rq'
            responses:  
              200:
                description:
                        <div>
                                Successful
                                <p>Business Error Codes &#58;</p>
                                <table>
                                      <tr>
                                        <th>Error code</th>
                                        <th>Error Description</th>
                                      </tr>
                                      <tr>
                                         <td>21101</td>
                                         <td>Invalid Card Number/Token Id</td>
                                      </tr>
                                </table>
                        </div> 
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/GetParameterListV35Rs'
                  application/xml:
                            schema:
                              $ref: '#/components/schemas/GetParameterListV35Rs'                                                                                  
#ChangeCardProduct
  /ChangeCardProduct/V2:
      post:
        description:
                    <h3>API Overview</h3>
                    <p>PowerCARD offers a service to downgrade or upgrade a card. This operation is done by changing the card product of the card. Moving a card from product to a new one can be performed by providing a set of data including the card number, the product code as well as some other additional fields like fee amount…
                    </p>
                    <p>A product change lets you maintain your existing account, while enjoying the benefits and terms of a different plastic that could have different limits, services… the new card will be produced then shipped to the address specified by the customer.</p>
                    <h3>Functional Description</h3>
                    <img  src="./docs/changeCardProduct.png" />
        summary: PowerCARD offers a service to downgrade or upgrade a card.
        tags:
          - Change Card Product.
        requestBody:
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChangeCardProductV35Rq'
            application/xml:
              schema:
                $ref: '#/components/schemas/ChangeCardProductV35Rq'
        responses:  
          200:
            description:
                    <div>
                            <h6>Successful</h6>
                            <p>Business Error Codes &#58;</p>
                            <table>
                              <tr>
                                <th>Error code</th>
                                <th>Error Description</th>
                              </tr>
                              <tr> 
                                <td>17101</td>
                                <td>Invalid card number</td>
                              </tr>
                              <tr> 
                                <td>17102</td>
                                <td>Invalid Expiry date</td>
                              </tr>
                              <tr> 
                                <td>17105</td>
                                <td>Invalid Fee amount/Currency</td>
                              </tr>
                              <tr> 
                                <td>17106</td>
                                <td>Invalid Fee option</td>
                              </tr>
                              <tr> 
                                <td>17107</td>
                                <td>Operation is not permitted for the target product</td>
                              </tr>
                              <tr> 
                                <td>17108</td>
                                <td>An error occurred while inserting a product change request</td>
                              </tr>
                              <tr> 
                                <td>17119</td>
                                <td>Invalid Catalogue Payment Istrument Product</td>
                              </tr>
                               <tr> 
                                <td>17120</td>
                                <td>Invalid Catalogue Payment Instrument Product Version</td>
                              </tr>
                             <tr> 
                                <td>17121</td>
                                <td>Invalid Catalogue Account Product</td>
                              </tr>
                              <tr> 
                                <td>17122</td>
                                <td>Invalid Catalogue Account Product Version</td>
                              </tr>							
                            </table>
                    </div> 
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ChangeCardProductV35Rs'
              application/xml:
                      schema:
                          $ref: '#/components/schemas/ChangeCardProductV35Rs'                    
  #Cards/v2/{aliasPAN}/CardProduct
  /Cards/V2/{aliasPAN}/CatPIProduct:
      patch:
        description:
                    <h3>API Overview</h3>
                    <p>PowerCARD offers a service to downgrade or upgrade a card. This operation is done by changing the card product of the card. Moving a card from product to a new one can be performed by providing a set of data including the card number, the product code as well as some other additional fields like fee amount…
                    </p>
                    <p>A product change lets you maintain your existing account, while enjoying the benefits and terms of a different plastic that could have different limits, services… the new card will be produced then shipped to the address specified by the customer.</p>
                    <h3>Functional Description</h3>
                    <img  src="./docs/changeCardProduct.png" />
        summary: PowerCARD offers a service to downgrade or upgrade a card.
        tags:
          - Change Card Product.
        parameters:
          - in: path
            name: aliasPAN
            schema:
              type: string
            required: false
            description: The AliasPAN value.
          - in: query
            name: catPIProduct
            schema:
              type: string
            required: false
            description: The catPIProduct value.
          - in: query
            name: catPIProductVer
            schema:
              type: string
            required: false
            description: The catPIProductVer value.
          - in: query
            name: catAccProductVer
            schema:
              type: string
            required: false
            description: The catAccProductVer value.
          - in: query
            name: expiryDate
            schema:
              type: string
            required: false
            description: The expiryDate value.
          - in: query
            name: deliveryBranch
            schema:
              type: string
            required: false
            description: The deliveryBranch value.
          - in: query
            name: feesOption
            schema:
              type: string
            required: true
            description: The feesOption value.
          - in: query
            name: feeAmount
            schema:
              type: string
            required: false
            description: The feeAmount value.
          - in: query
            name: feeAmount
            schema:
              type: string
            required: false
            description: The feeAmountCur value.
          - in: query
            name: requestUID
            schema:
              type: string
            description: Request Identifier. It is sent by the calling system as a universally unique identifier for the message. Used to match response with request messages.
          - in: query
            name: requestDate 
            schema:
              type: string
            description: Date when the request was submitted.
          - in: query
            name: userID 
            schema:
              type: string
            description: Represents the user Id who made the request.
        responses:  
          200:
            description:
                    <div>
                            <h6>Successful</h6>
                            <p>Business Error Codes &#58;</p>
                            <table>
                              <tr>
                                <th>Error code</th>
                                <th>Error Description</th>
                              </tr>
                              <tr> 
                                <td>17101</td>
                                <td>Invalid card number</td>
                              </tr>
                              <tr> 
                                <td>17102</td>
                                <td>Invalid Expiry date</td>
                              </tr>
                              <tr> 
                                <td>17105</td>
                                <td>Invalid Fee amount/Currency</td>
                              </tr>
                              <tr> 
                                <td>17106</td>
                                <td>Invalid Fee option</td>
                              </tr>
                              <tr> 
                                <td>17107</td>
                                <td>Operation is not permitted for the target product</td>
                              </tr>
                              <tr> 
                                <td>17108</td>
                                <td>An error occurred while inserting a product change request</td>
                              </tr>
                              <tr> 
                                <td>17119</td>
                                <td>Invalid Catalogue Payment Istrument Product</td>
                              </tr>
                               <tr> 
                                <td>17120</td>
                                <td>Invalid Catalogue Payment Instrument Product Version</td>
                              </tr>
                             <tr> 
                                <td>17121</td>
                                <td>Invalid Catalogue Account Product</td>
                              </tr>
                              <tr> 
                                <td>17122</td>
                                <td>Invalid Catalogue Account Product Version</td>
                              </tr>							
                            </table>
                    </div> 
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ChangeCardProductV35Rs'
              application/xml:
                            schema:
                              $ref: '#/components/schemas/ChangeCardProductV35Rs'                    
  # --- DebitCards
  /DebitCards/V2:
        post:
            description:
                        <h3>API Overview</h3>
                          <p>
                             A debit card allows the cardholder access to a source of funding that is linked to his/her card, typically a saving or a checking account. Users may use this service to send a request to PowerCARD in order to ask for the creation of a client and its debit card. 
                          </p>
                          <p>
                              Many details with regards to the card are shared within the request. Those data includes information related to the card. All are then checked by the system before it will proceed by the creation of the debit card.
                          </p>
                          <p>
                           As output the web service send back the result of the processing that could be either successfully or unsuccessfully, in what case, the system will share an error code for investigation.
                          </p>
                        <h3>Functional Description</h3>
                         <img  src="./docs/DebitCards.png" />
            summary:   A debit card allows the cardholder access to a source of funding that is linked to his/her card.
            tags:
              - Create Debit Card
            parameters:
                  - in: query
                    name: requestUID 
                    example: 08e53e10-a6e8-44b4-b4cf-df75235df515
                    schema:
                        type: string
                    required: true
                    description: Request Identifier. It is sent by the calling system as a universally unique identifier for the message. Used to match response with request messages.
                  - in: query
                    name: requestDate 
                    example: '2020-07-07T03:13:01.853Z'
                    schema:
                        type: string
                    required: true
                    description: Date when the request was submitted.
                  - in: query
                    name: userID 
                    example: PwcUserJmeter
                    schema:
                        type: string
                    required: false
                    description: Represents the user Id who made the request.
            requestBody:
              required: true
              content:
                application/json:
                  schema:
                    $ref: '#/components/schemas/CreateDebitCardV35Rq'
                application/xml:
                  schema:
                    $ref: '#/components/schemas/CreateDebitCardV35Rq'
            responses:  
              200:
                description:
                  <div>
                          Successful
                          <p>Business Error Codes &#58;</p>
                           <table>
                                <tr>
                                  <th>Error code</th>
                                  <th>Error Description</th>
                                </tr>
                                <tr> 
                                  <td>29604</td>
                                  <td>Invalid Client Code</td>
                                </tr>	
                                <tr> 
                                  <td>29605</td>
                                  <td>Error while generating the Client Code</td>
                                </tr>
                                <tr> 
                                  <td>29606</td>
                                  <td>Invalid Bank Code in Customer Details segment</td>
                                </tr>	
                                <tr> 
                                  <td>29607</td>
                                  <td>Invalid Branch Code in Customer Details Segment</td>
                                </tr>
                                <tr> 
                                  <td>29608</td>
                                  <td>Invalid Family Status</td>
                                </tr>
                                <tr> 
                                  <td>29610</td>
                                  <td>Invalid Cardholder’s Gender</td>
                                </tr>
                                <tr> 
                                  <td>29614</td>
                                  <td>Invalid Cardholder’s Birth Date</td>
                                </tr>	
                                <tr> 
                                  <td>29617</td>
                                  <td>Invalid VIP Level</td>
                                </tr>	
                                <tr> 
                                  <td>29618</td>
                                  <td>Invalid Nationality Code</td>
                                </tr>	
                                <tr> 
                                  <td>29619</td>
                                  <td>Invalid Language Code</td>
                                </tr>	
                                <tr> 
                                  <td>29620</td>
                                  <td>Invalid Title Code</td>
                                </tr>	
                                <tr> 
                                  <td>29626</td>
                                  <td>Invalid Owner Code</td>
                                </tr>	
                                <tr> 
                                  <td>29627</td>
                                  <td>Invalid Socio-Professional Code</td>
                                </tr>	
                                <tr> 
                                  <td>29628</td>
                                  <td>Invalid Activity Code</td>
                                </tr>	
                                <tr> 
                                  <td>29629</td>
                                  <td>Invalid Customer Segment</td>
                                </tr>	
                                <tr> 
                                  <td>29633</td>
                                  <td>Invalid Lodging Mode</td>
                                </tr>	
                                <tr> 
                                  <td>29634</td>
                                  <td>Invalid Channel Number</td>
                                </tr>	
                                <tr> 
                                  <td>29635</td>
                                  <td>Invalid Phone Type 1</td>
                                </tr>	
                                <tr> 
                                  <td>29637</td>
                                  <td>Invalid Phone Type 2</td>
                                </tr>	
                                <tr> 
                                  <td>29639</td>
                                  <td>Invalid Phone Type 3</td>
                                </tr>	
                                <tr> 
                                  <td>29641</td>
                                  <td>Invalid Phone Type 4</td>
                                </tr>	
                                <tr> 
                                  <td>29645</td>
                                  <td>Invalid Primary Address Type</td>
                                </tr>	
                                <tr> 
                                  <td>29646</td>
                                  <td>Invalid Primary Address Sending Mode</td>
                                </tr>
                                <tr> 
                                  <td>29655</td>
                                  <td>Invalid Client Primary Address City Code</td>
                                </tr>
                                <tr> 
                                  <td>29657</td>
                                  <td>Invalid Client Primary Address Region Code</td>
                                </tr>
                                <tr> 
                                  <td>29659</td>
                                  <td>Invalid Client Primary Address Country Code</td>
                                </tr>
                                <tr> 
                                  <td>29667</td>
                                  <td>City Code or City Free Text is required for Card Primary Address</td>
                                </tr>
                                <tr> 
                                  <td>29668</td>
                                  <td>Region Code or Region Free Text is required for Card Primary Address</td>
                                </tr>
                                <tr> 
                                  <td>29675</td>
                                  <td>Invalid Client Secondary Address Type</td>
                                </tr>
                                <tr> 
                                  <td>29676</td>
                                  <td>Invalid Client Secondary Address Sending Mode</td>
                                </tr>
                                <tr> 
                                  <td>29685</td>
                                  <td>Invalid Client Secondary Address City Code</td>
                                </tr>
                                <tr> 
                                  <td>29687</td>
                                  <td>Invalid Client Secondary Address Region Code</td>
                                </tr>		
                                <tr> 
                                  <td>29689</td>
                                  <td>Invalid Client Secondary Address Country Code</td>
                                </tr>	
                                <tr> 
                                  <td>29690</td>
                                  <td>Validity Start Date must not be in the past in case Client Secondary Address</td>
                                </tr>
                                <tr> 
                                  <td>29691</td>
                                  <td>Validity Start Date cannot be greater than Validity End Date in case Client Secondary Address </td>
                                </tr>								
                           </table>
                  </div> 
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CreateDebitCardV35Rs'
                  application/xml:
                            schema:
                              $ref: '#/components/schemas/CreateDebitCardV35Rs'                        
  # --- CreateDebitCard
  /CreateDebitCard/V2:
        post:
            description:
                        <h3>API Overview</h3>
                          <p>
                             A debit card allows the cardholder access to a source of funding that is linked to his/her card, typically a saving or a checking account. Users may use this service to send a request to PowerCARD in order to ask for the creation of a client and its debit card. 
                          </p>
                          <p>
                              Many details with regards to the card are shared within the request. Those data includes information related to the card. All are then checked by the system before it will proceed by the creation of the debit card.
                          </p>
                          <p>
                           As output the web service send back the result of the processing that could be either successfully or unsuccessfully, in what case, the system will share an error code for investigation.
                          </p>
                        <h3>Functional Description</h3>
                         <img  src="./docs/DebitCards.png" />
            summary:   A debit card allows the cardholder access to a source of funding that is linked to his/her card.
            tags:
              - Create Debit Card
            requestBody:
              required: true
              content:
                application/json:
                  schema:
                    $ref: '#/components/schemas/CreateDebitCardV35Rq'
                application/xml:
                  schema:
                    $ref: '#/components/schemas/CreateDebitCardV35Rq'
            responses:  
              200:
                description:
                  <div>
                          Successful
                          <p>Business Error Codes &#58;</p>
                           <table>
                                <tr>
                                  <th>Error code</th>
                                  <th>Error Description</th>
                                </tr>
                                <tr> 
                                  <td>29604</td>
                                  <td>Invalid Client Code</td>
                                </tr>	
                                <tr> 
                                  <td>29605</td>
                                  <td>Error while generating the Client Code</td>
                                </tr>
                                <tr> 
                                  <td>29606</td>
                                  <td>Invalid Bank Code in Customer Details segment</td>
                                </tr>	
                                <tr> 
                                  <td>29607</td>
                                  <td>Invalid Branch Code in Customer Details Segment</td>
                                </tr>
                                <tr> 
                                  <td>29608</td>
                                  <td>Invalid Family Status</td>
                                </tr>
                                <tr> 
                                  <td>29610</td>
                                  <td>Invalid Cardholder’s Gender</td>
                                </tr>
                                <tr> 
                                  <td>29614</td>
                                  <td>Invalid Cardholder’s Birth Date</td>
                                </tr>	
                                <tr> 
                                  <td>29617</td>
                                  <td>Invalid VIP Level</td>
                                </tr>	
                                <tr> 
                                  <td>29618</td>
                                  <td>Invalid Nationality Code</td>
                                </tr>	
                                <tr> 
                                  <td>29619</td>
                                  <td>Invalid Language Code</td>
                                </tr>	
                                <tr> 
                                  <td>29620</td>
                                  <td>Invalid Title Code</td>
                                </tr>	
                                <tr> 
                                  <td>29626</td>
                                  <td>Invalid Owner Code</td>
                                </tr>	
                                <tr> 
                                  <td>29627</td>
                                  <td>Invalid Socio-Professional Code</td>
                                </tr>	
                                <tr> 
                                  <td>29628</td>
                                  <td>Invalid Activity Code</td>
                                </tr>	
                                <tr> 
                                  <td>29629</td>
                                  <td>Invalid Customer Segment</td>
                                </tr>	
                                <tr> 
                                  <td>29633</td>
                                  <td>Invalid Lodging Mode</td>
                                </tr>	
                                <tr> 
                                  <td>29634</td>
                                  <td>Invalid Channel Number</td>
                                </tr>	
                                <tr> 
                                  <td>29635</td>
                                  <td>Invalid Phone Type 1</td>
                                </tr>	
                                <tr> 
                                  <td>29637</td>
                                  <td>Invalid Phone Type 2</td>
                                </tr>	
                                <tr> 
                                  <td>29639</td>
                                  <td>Invalid Phone Type 3</td>
                                </tr>	
                                <tr> 
                                  <td>29641</td>
                                  <td>Invalid Phone Type 4</td>
                                </tr>	
                                <tr> 
                                  <td>29645</td>
                                  <td>Invalid Primary Address Type</td>
                                </tr>	
                                <tr> 
                                  <td>29646</td>
                                  <td>Invalid Primary Address Sending Mode</td>
                                </tr>
                                <tr> 
                                  <td>29655</td>
                                  <td>Invalid Client Primary Address City Code</td>
                                </tr>
                                <tr> 
                                  <td>29657</td>
                                  <td>Invalid Client Primary Address Region Code</td>
                                </tr>
                                <tr> 
                                  <td>29659</td>
                                  <td>Invalid Client Primary Address Country Code</td>
                                </tr>
                                <tr> 
                                  <td>29667</td>
                                  <td>City Code or City Free Text is required for Card Primary Address</td>
                                </tr>
                                <tr> 
                                  <td>29668</td>
                                  <td>Region Code or Region Free Text is required for Card Primary Address</td>
                                </tr>
                                <tr> 
                                  <td>29675</td>
                                  <td>Invalid Client Secondary Address Type</td>
                                </tr>
                                <tr> 
                                  <td>29676</td>
                                  <td>Invalid Client Secondary Address Sending Mode</td>
                                </tr>
                                <tr> 
                                  <td>29685</td>
                                  <td>Invalid Client Secondary Address City Code</td>
                                </tr>
                                <tr> 
                                  <td>29687</td>
                                  <td>Invalid Client Secondary Address Region Code</td>
                                </tr>		
                                <tr> 
                                  <td>29689</td>
                                  <td>Invalid Client Secondary Address Country Code</td>
                                </tr>	
                                <tr> 
                                  <td>29690</td>
                                  <td>Validity Start Date must not be in the past in case Client Secondary Address</td>
                                </tr>
                                <tr> 
                                  <td>29691</td>
                                  <td>Validity Start Date cannot be greater than Validity End Date in case Client Secondary Address </td>
                                </tr>								
                           </table>
                  </div> 
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CreateDebitCardV35Rs'
                  application/xml:
                            schema:
                              $ref: '#/components/schemas/CreateDebitCardV35Rs'                       
  # --- CreateDebitCard
  /SecuredInOut/CreateDebitCard/V2:
        post:
            description:
                        <h3>API Overview</h3>
                          <p>
                             A debit card allows the cardholder access to a source of funding that is linked to his/her card, typically a saving or a checking account. Users may use this service to send a request to PowerCARD in order to ask for the creation of a client and its debit card. 
                          </p>
                          <p>
                              Many details with regards to the card are shared within the request. Those data includes information related to the card. All are then checked by the system before it will proceed by the creation of the debit card.
                          </p>
                          <p>
                           As output the web service send back the result of the processing that could be either successfully or unsuccessfully, in what case, the system will share an error code for investigation.
                          </p>
                        <h3>Functional Description</h3>
                         <img  src="./docs/DebitCards.png" />
            summary:   A debit card allows the cardholder access to a source of funding that is linked to his/her card.
            tags:
              - Create Debit Card
            requestBody:
              required: true
              description: <div><Button style="width:300px">Encrypt Request</Button></div>
              content:
                application/json:
                  schema:
                    $ref: '#/components/schemas/EncryptedCreateDebitCardV35Rq'
                application/xml:
                  schema:
                    $ref: '#/components/schemas/EncryptedCreateDebitCardV35Rq'
            responses:  
              200:
                description:
                  <div><div><Button style="width:300px">Decrypt Response</Button></div></div>
                  <div>
                          Successful
                          <p>Business Error Codes &#58;</p>
                           <table>
                                <tr>
                                  <th>Error code</th>
                                  <th>Error Description</th>
                                </tr>
                                <tr> 
                                  <td>29604</td>
                                  <td>Invalid Client Code</td>
                                </tr>	
                                <tr> 
                                  <td>29605</td>
                                  <td>Error while generating the Client Code</td>
                                </tr>
                                <tr> 
                                  <td>29606</td>
                                  <td>Invalid Bank Code in Customer Details segment</td>
                                </tr>	
                                <tr> 
                                  <td>29607</td>
                                  <td>Invalid Branch Code in Customer Details Segment</td>
                                </tr>
                                <tr> 
                                  <td>29608</td>
                                  <td>Invalid Family Status</td>
                                </tr>
                                <tr> 
                                  <td>29610</td>
                                  <td>Invalid Cardholder’s Gender</td>
                                </tr>
                                <tr> 
                                  <td>29614</td>
                                  <td>Invalid Cardholder’s Birth Date</td>
                                </tr>	
                                <tr> 
                                  <td>29617</td>
                                  <td>Invalid VIP Level</td>
                                </tr>	
                                <tr> 
                                  <td>29618</td>
                                  <td>Invalid Nationality Code</td>
                                </tr>	
                                <tr> 
                                  <td>29619</td>
                                  <td>Invalid Language Code</td>
                                </tr>	
                                <tr> 
                                  <td>29620</td>
                                  <td>Invalid Title Code</td>
                                </tr>	
                                <tr> 
                                  <td>29626</td>
                                  <td>Invalid Owner Code</td>
                                </tr>	
                                <tr> 
                                  <td>29627</td>
                                  <td>Invalid Socio-Professional Code</td>
                                </tr>	
                                <tr> 
                                  <td>29628</td>
                                  <td>Invalid Activity Code</td>
                                </tr>	
                                <tr> 
                                  <td>29629</td>
                                  <td>Invalid Customer Segment</td>
                                </tr>	
                                <tr> 
                                  <td>29633</td>
                                  <td>Invalid Lodging Mode</td>
                                </tr>	
                                <tr> 
                                  <td>29634</td>
                                  <td>Invalid Channel Number</td>
                                </tr>	
                                <tr> 
                                  <td>29635</td>
                                  <td>Invalid Phone Type 1</td>
                                </tr>	
                                <tr> 
                                  <td>29637</td>
                                  <td>Invalid Phone Type 2</td>
                                </tr>	
                                <tr> 
                                  <td>29639</td>
                                  <td>Invalid Phone Type 3</td>
                                </tr>	
                                <tr> 
                                  <td>29641</td>
                                  <td>Invalid Phone Type 4</td>
                                </tr>	
                                <tr> 
                                  <td>29645</td>
                                  <td>Invalid Primary Address Type</td>
                                </tr>	
                                <tr> 
                                  <td>29646</td>
                                  <td>Invalid Primary Address Sending Mode</td>
                                </tr>
                                <tr> 
                                  <td>29655</td>
                                  <td>Invalid Client Primary Address City Code</td>
                                </tr>
                                <tr> 
                                  <td>29657</td>
                                  <td>Invalid Client Primary Address Region Code</td>
                                </tr>
                                <tr> 
                                  <td>29659</td>
                                  <td>Invalid Client Primary Address Country Code</td>
                                </tr>
                                <tr> 
                                  <td>29667</td>
                                  <td>City Code or City Free Text is required for Card Primary Address</td>
                                </tr>
                                <tr> 
                                  <td>29668</td>
                                  <td>Region Code or Region Free Text is required for Card Primary Address</td>
                                </tr>
                                <tr> 
                                  <td>29675</td>
                                  <td>Invalid Client Secondary Address Type</td>
                                </tr>
                                <tr> 
                                  <td>29676</td>
                                  <td>Invalid Client Secondary Address Sending Mode</td>
                                </tr>
                                <tr> 
                                  <td>29685</td>
                                  <td>Invalid Client Secondary Address City Code</td>
                                </tr>
                                <tr> 
                                  <td>29687</td>
                                  <td>Invalid Client Secondary Address Region Code</td>
                                </tr>		
                                <tr> 
                                  <td>29689</td>
                                  <td>Invalid Client Secondary Address Country Code</td>
                                </tr>	
                                <tr> 
                                  <td>29690</td>
                                  <td>Validity Start Date must not be in the past in case Client Secondary Address</td>
                                </tr>
                                <tr> 
                                  <td>29691</td>
                                  <td>Validity Start Date cannot be greater than Validity End Date in case Client Secondary Address </td>
                                </tr>		
                           </table>
                  </div> 
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CreateDebitCardV35Rs'
                  application/xml:
                            schema:
                              $ref: '#/components/schemas/CreateDebitCardV35Rs'                          
# ------- FeeInQuiry API  
  /FeeInQuiry/V2:
    post:
      description:  <h3>API Overview</h3>
                    <p>This API is intended to be used whenever a customer or an agent would like to get further details with regards to fees amount linked to several card operations, fees on transactions as well as detail of a statement fees previously defined in the system…</p>
                    <h3>Functional Description</h3>
                    <img  src="./docs/FeeInQuiry.png" />
      summary: API is intended to be used whenever a customer or an agent would like to get further details with regards to fees amount linked to several card operations.
      tags:
        - Fee Inquiry
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FeeInQuiryV35Rq'
          application/xml:
            schema:
              $ref: '#/components/schemas/FeeInQuiryV35Rq'
      responses:  
         200:
          description:
                  <div>
                          Successful
                          <p>Business Error Codes &#58;</p>
                           <table>
                                <tr>
                                  <th>Error code</th>
                                  <th>Error Description</th>
                                </tr>
                                <tr> 
                                  <td>20201</td>
                                  <td>Invalid Card Number/Token Id</td>
                                </tr>								
                           </table>
                  </div> 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeeInQuiryV35Rs'
            application/xml:
                          schema:
                              $ref: '#/components/schemas/FeeInQuiryV35Rs'                     
  # ------- Cards/V2/Fees
  /Cards/V2/Fees:
    get:
      description:  <h3>API Overview</h3>
                    <p>This API is intended to be used whenever a customer or an agent would like to get further details with regards to fees amount linked to several card operations, fees on transactions as well as detail of a statement fees previously defined in the system…</p>
                    <h3>Functional Description</h3>
                    <img  src="./docs/FeeInQuiry.png" />
      summary: API is intended to be used whenever a customer or an agent would like to get further details with regards to fees amount linked to several card operations.
      tags:
        - Fee Inquiry
      parameters:
        - in: query
          name: aliasPAN
          schema:
            type: string
          required: false
          description: The aliasPAN value.
        - in: query
          name: operationEvent
          schema:
            type: string
          required: false
          description: The operationEvent value.
        - in: query
          name: replaceReason
          schema:
            type: string
          required: false
          description: The replaceReason value.
        - in: query
          name: catPIProduct
          schema:
            type: string
          required: false
          description: The catPIProduct value.
        - in: query
          name: catPIProductVer
          schema:
            type: string
          required: false
          description: The catPIProductVer value. 
        - in: query
          name: requestUID 
          schema:
            type: string
          required: true
          description: Request Identifier. It is sent by the calling system as a universally unique identifier for the message. Used to match response with request messages.
        - in: query
          name: requestDate 
          schema:
            type: string
          required: true
          description: Date when the request was submitted.
        - in: query
          name: userID 
          schema:
            type: string
          required: true
          description: Represents the user Id who made the request.
      responses:  
         200:
          description:
                  <div>
                          Successful
                          <p>Business Error Codes &#58;</p>
                           <table>
                                <tr>
                                  <th>Error code</th>
                                  <th>Error Description</th>
                                </tr>
                                <tr> 
                                  <td>20201</td>
                                  <td>Invalid Card Number/Token Id</td>
                                </tr>								
                           </table>
                  </div> 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeeInQuiryV35Rs'
            application/xml:
                          schema:
                              $ref: '#/components/schemas/FeeInQuiryV35Rs'                  
  # ------- Transactions/V2/Fees
  /Transactions/V2/Fees:
    get:
      description:  <h3>API Overview</h3>
                    <p>This API is intended to be used whenever a customer or an agent would like to get further details with regards to fees amount linked to several card operations, fees on transactions as well as detail of a statement fees previously defined in the system…</p>
                    <h3>Functional Description</h3>
                    <img  src="./docs/FeeInQuiry.png" />
      summary: API is intended to be used whenever a customer or an agent would like to get further details with regards to fees amount linked to several card operations.
      tags:
        - Fee Inquiry
      parameters:
        - in: query
          name: aliasPAN
          schema:
            type: string
          required: false
          description: The aliasPAN value.
        - in: query
          name: catAccProduct
          schema:
            type: string
          required: false
          description: The catAccProduct value.
        - in: query
          name: catAccProductVer
          schema:
            type: string
          required: false
          description: The catAccProductVer value.
        - in: query
          name: transactionCode
          schema:
            type: string
          required: false
          description: The transactionCode value.
        - in: query
          name: reverFlag
          schema:
            type: string
          required: false
          description: The reverFlag value.
        - in: query
          name: catPIProduct
          schema:
            type: string
          required: false
          description: The catPIProduct value. 
        - in: query
          name: catPIProductVer
          schema:
            type: string
          required: false
          description: The catPIProductVer value. 
        - in: query
          name: transAmount
          schema:
            type: string
          required: true
          description: The transAmount value.
        - in: query
          name: transCurCode
          schema:
            type: string
          required: false
          description: The transCurCode value. 
        - in: query
          name: requestUID 
          schema:
            type: string
          required: true
          description: Request Identifier. It is sent by the calling system as a universally unique identifier for the message. Used to match response with request messages.
        - in: query
          name: requestDate 
          schema:
            type: string
          required: true
          description: Date when the request was submitted.
        - in: query
          name: userID 
          schema:
            type: string
          required: true
          description: Represents the user Id who made the request.
      responses:  
         200:
          description:
                  <div>
                          Successful
                          <p>Business Error Codes &#58;</p>
                           <table>
                                <tr>
                                  <th>Error code</th>
                                  <th>Error Description</th>
                                </tr>
                                <tr> 
                                  <td>20201</td>
                                  <td>Invalid Card Number/Token Id</td>
                                </tr>								
                           </table>
                  </div> 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeeInQuiryV35Rs'
            application/xml:
                          schema:
                              $ref: '#/components/schemas/FeeInQuiryV35Rs'                  
  # ------- /Statements/V2/Fees
  /Statements/V2/Fees:
    get:
      description:  <h3>API Overview</h3>
                    <p>This API is intended to be used whenever a customer or an agent would like to get further details with regards to fees amount linked to several card operations, fees on transactions as well as detail of a statement fees previously defined in the system…</p>
                    <h3>Functional Description</h3>
                    <img  src="./docs/FeeInQuiry.png" />
      summary: API is intended to be used whenever a customer or an agent would like to get further details with regards to fees amount linked to several card operations.
      tags:
        - Fee Inquiry
      parameters:
        - in: query
          name: aliasPAN
          schema:
            type: string
          required: false
          description: The aliasPAN value.
        - in: query
          name: accountNumber
          schema:
            type: string
          required: false
          description: The accountNumber value.
        - in: query
          name: catAccProduct
          schema:
            type: string
          required: false
          description: The catAccProduct value.
        - in: query
          name: catAccProductVer
          schema:
            type: string
          required: false
          description: The catAccProductVer value.
        - in: query
          name: catPIProductVer
          schema:
            type: string
          required: false
          description: The catPIProductVer value.
        - in: query
          name: requestUID 
          schema:
            type: string
          required: true
          description: Request Identifier. It is sent by the calling system as a universally unique identifier for the message. Used to match response with request messages.
        - in: query
          name: requestDate 
          schema:
            type: string
          required: true
          description: Date when the request was submitted.
        - in: query
          name: userID 
          schema:
            type: string
          required: true
          description: Represents the user Id who made the request.
      responses:  
         200:
          description:
                  <div>
                          Successful
                          <p>Business Error Codes &#58;</p>
                           <table>
                                <tr>
                                  <th>Error code</th>
                                  <th>Error Description</th>
                                </tr>
                                <tr> 
                                  <td>20201</td>
                                  <td>Invalid Card Number/Token Id</td>
                                </tr>								
                           </table>
                  </div> 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeeInQuiryV35Rs'
            application/xml:
                          schema:
                              $ref: '#/components/schemas/FeeInQuiryV35Rs'                  
  # ------- GetCardDetails API
  /GetCardDetails/V2:
    post:
      description:  <h3>API Overview</h3>
                    <p>PowerCARD offers a selection of web services with regards to cards maintenance, the get card details web services is one of those services that can be used by both agents and customers in order to retrieve more details regarding the concerned card being sent in the request message.</p>
                    <p>Card details can include the cardholder’s full name, mailing address, phone number, date of birth, the card type, card number, expiration date.</p>
                    <h3>Functional Description</h3>
                    <img  src="./docs/GetCardDetails.png" />
      summary: Retrieve more details regarding the concerned card being sent in the request message.
      tags:
        - Get Card details.
      requestBody:
        description: Retrieve more details regarding the concerned card being sent in the request message.	
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetCardDetailsV35Rq'
          application/xml:
            schema:
              $ref: '#/components/schemas/GetCardDetailsV35Rq'
      responses:  
         200:
          description: 
                   <div>
                          <h6>Successful</h6>
                          <p>Business Error Codes &#58;</p>
                           <table>
                            <tr>
                               <th>Error code</th>
                               <th>Error Description</th>
                            </tr>
                            <tr> 
                               <td>21301</td>
                                <td>Invalid Card Number/Token Id</td>
                            </tr>
                           </table>
                    </div> 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCardDetailsV35Rs'
            application/xml:
                          schema:
                              $ref: '#/components/schemas/GetCardDetailsV35Rs'                  
    # -------  Cards/v2/{aliasPAN} API  
  /Cards/v2/{aliasPAN}:
    get:
      description:  <h3>API Overview</h3>
                    <p>PowerCARD offers a selection of web services with regards to cards maintenance, the get card details web services is one of those services that can be used by both agents and customers in order to retrieve more details regarding the concerned card being sent in the request message.</p>
                    <p>Card details can include the cardholder’s full name, mailing address, phone number, date of birth, the card type, card number, expiration date.</p>
                    <h3>Functional Description</h3>
                    <img  src="./docs/GetCardDetails.png" />
      summary: Retrieve more details regarding the concerned card being sent in the request message.
      tags:
        - Get Card details.
      parameters:
          - in: path
            name: aliasPAN
            example: 4250A38B18906430
            schema:
              type: string
            required: true
            description: The AliasPAN value.
          - in: query
            name: requestUID 
            schema:
              type: string
              example : 6948DF80-14BD-4E04-8842-7668D9C001F5
            description: Request Identifier. It is sent by the calling system as a universally unique identifier for the message. Used to match response with request messages.
          - in: query
            name: requestDate 
            schema:
              type: string
              example: '2020-02-05T00:00:00'
            description: Date when the request was submitted.
          - in: query
            name: userID 
            schema:
              type: string
              example: user001
            description: Represents the user Id who made the request.
      responses:
         200:
          description:
                  <div>
                          <h6>Successful</h6>
                          <p>Business Error Codes &#58;</p>
                           <table>
                            <tr>
                               <th>Error code</th>
                               <th>Error Description</th>
                            </tr>
                            <tr> 
                               <td>21301</td>
                                <td>Invalid Card Number/Token Id</td>
                            </tr>
                           </table>
                  </div> 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCardDetailsV35Rs'
            application/xml:
                          schema:
                              $ref: '#/components/schemas/GetCardDetailsV35Rs'                    
  # --- GetStockCardsOverview
  /GetStockCardsOverview/V2:
        post:
            description:
                        <h3>API Overview</h3>
                          <p>
                               The current service may be used by any third party application to retrieve all the pre-paid batches with different set of criteria’s including Bank, Branch, Batch Number… the answer must contain the list of batches along with a set of details that could help the end used during its analysis or decision making  .
                          </p>
                        <h3>Functional Description</h3>
                         <img  src="./docs/GetStockCardsOverview.png" />
            summary:   The current service may be used by any third party application to retrieve all the pre-paid batches with different set of criteria’s including Bank, Branch, Batch Number…
            tags:
              - Get Stock Cards Overview
            requestBody:
              required: true
              content:
                application/json:
                  schema:
                    $ref: '#/components/schemas/GetStockCardsOverviewV35Rq'
                application/xml:
                  schema:
                    $ref: '#/components/schemas/GetStockCardsOverviewV35Rq'
            responses:  
              200:
                description:
                  <div>
                          Successful
                          <p>Business Error Codes &#58;</p>
                           <table>
                              <tr>
                                <th>Error code</th>
                                <th>Error Description</th>
                              </tr>
                              <tr> 
                                <td>17701</td>
                                <td>Invalid Bank Code</td>
                              </tr>
                              <tr> 
                                <td>17702</td>
                                <td>Invalid Branch Code</td>
                              </tr>
                              <tr> 
                                <td>17703</td>
                                <td>Batch Number Not Found</td>
                              </tr>
                              <tr> 
                                <td>17704</td>
                                <td>Invalid range dates</td>
                              </tr>									
                           </table>
                  </div> 
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/GetStockCardsOverviewV35Rs'
                  application/xml:
                          schema:
                              $ref: '#/components/schemas/GetStockCardsOverviewV35Rs'                          
  # --- LostStolenDeclaration
  /LostStolenDeclaration/V2:
        post:
            description:
                        <h3>API Overview</h3>
                              <p>
                                This web services is used to initiate and update a lost stolen case. The lost and stolen cases can be initiated in two states. Confirmed or Waiting for confirmation. Unconfirmed cases can be subsequently confirmed or canceled. Based on the lost and stolen case reason authorizations can be rejected and transaction posting can be suspended for the concerned PAN. 
                              </p>
                              <p>
                                Note that updating the declaration is only authorized if the declaration is awaiting confirmation.
                              </p>
                              <p>
                                In case of replacement the new PAN and expiry date will be returned on the response.
                              </p>
                              <p>
                                As output the web service returns the result of the processing that could be either successfully or unsuccessfully, in what case, the system will share an error code for investigation.
                              </p>
                        <h3>Functional Description</h3>
                         <img  src="./docs/LostStolenDeclaration.png" />
            summary:   This web services is used to initiate and update a lost stolen case. The lost and stolen cases can be initiated in two states.
            tags:
              -  Lost Stolen Declaration
            requestBody:
              required: true
              content:
                application/json:
                  schema:
                    $ref: '#/components/schemas/LostStolenDeclarationV35Rq'
                application/xml:
                  schema:
                    $ref: '#/components/schemas/LostStolenDeclarationV35Rq'
            responses:  
              200:
                description:
                  <div>
                          Successful
                          <p>Business Error Codes &#58;</p>
                           <table>
                                <tr>
                                  <th>Error code</th>
                                  <th>Error Description</th>
                                </tr>
                                <tr> 
                                  <td>22001</td>
                                  <td>Invalid Card Number</td>
                                </tr>
                                <tr> 
                                  <td>22102</td>
                                  <td>Card Expired</td>
                                </tr>
                                <tr> 
                                  <td>22103</td>
                                  <td>Invalid Declaration Status</td>
                                </tr>
                                <tr> 
                                  <td>22104</td>
                                  <td>Declaration update not allowed</td>
                                </tr>	
                                <tr> 
                                  <td>22105</td>
                                  <td>Invalid Range Date</td>
                                </tr>		
                                <tr> 
                                  <td>22106</td>
                                  <td>Invalid City Code</td>
                                </tr>		
                                <tr> 
                                  <td>22107</td>
                                  <td>Invalid Country Code</td>
                                </tr>		
                                <tr> 
                                  <td>22108</td>
                                  <td>Invalid Police declaration Indicator</td>
                                </tr>		
                                <tr> 
                                  <td>22109</td>
                                  <td>Invalid Replace Pan Flag</td>
                                </tr>		
                                <tr> 
                                  <td>22110</td>
                                  <td>Invalid Action Type</td>
                                </tr>		
                                <tr> 
                                  <td>22111</td>
                                  <td>Invalid Declaration Status</td>
                                </tr>		
                                <tr> 
                                  <td>22112</td>
                                  <td>When Action Is U, a lost and stolen Case With Status W Must Be Existing For The Pan</td>
                                </tr>		
                                <tr> 
                                  <td>22113</td>
                                  <td>Card Account Link Not Founded</td>
                                </tr>		
                                <tr> 
                                  <td>22114</td>
                                  <td>Multi Cards Account Link Founded</td>
                                </tr>		
                                <tr> 
                                  <td>22115</td>
                                  <td>Invalid Card Status Reason</td>
                                </tr>		
                                <tr> 
                                  <td>22116</td>
                                  <td>Police Declaration Date Not Founded</td>
                                </tr>		
                                <tr> 
                                  <td>22117</td>
                                  <td>Location Police Declaration Not Founded</td>
                                </tr>		
                                <tr> 
                                  <td>22118</td>
                                  <td>Invalid Bank Code Customer</td>
                                </tr>											
                           </table>
                  </div> 
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/LostStolenDeclarationV35Rs'
                  application/xml:
                          schema:
                              $ref: '#/components/schemas/LostStolenDeclarationV35Rs'                          
  # ------- OrderStockCards API  
  /OrderStockCards/V2:
    post:
      description:  <h3>API Overview</h3>
                    <p>Branches that have an prepaid card inventory and sell cards usually have what is called a stock. A stock order business function simply means the act of ordering of new stock to refill the inventory.</p>
                    <p>Each time the agent in the branch capture a new order, the system will make sure that cards with the appropriate product and plastic will be produced. Then shipped to increase the inventory level of the branch that made the requiest</p>
                    <h3>Functional Description</h3>
                    <img  src="./docs/OrderStockCards.png" />
      summary: Branches that have an prepaid card inventory and sell cards usually have what is called a stock.
      tags:
        - Order Stock Cards
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderStockCardsV35Rq'
          application/xml:
            schema:
              $ref: '#/components/schemas/OrderStockCardsV35Rq'
      responses:  
         200:
          description:
                  <div>
                          Successful
                          <p>Business Error Codes &#58;</p>
                           <table>
                                <tr>
                                  <th>Error code</th>
                                  <th>Error Description</th>
                                </tr>
                                <tr> 
                                  <td>17601</td>
                                  <td>Invalid Bank Code</td>
                                </tr>
                                <tr> 
                                  <td>17602</td>
                                  <td>Invalid Branch Code</td>
                                </tr>
                                <tr> 
                                  <td>17603</td>
                                  <td>Invalid Card product Code</td>
                                </tr>
                                <tr> 
                                  <td>17604</td>
                                  <td>Invalid Credit profile code</td>
                                </tr>	
                                <tr> 
                                  <td>17605</td>
                                  <td>Invalid Plastic Code</td>
                                </tr>		
                                <tr> 
                                  <td>17606</td>
                                  <td>Invalid Pre-loaded Amount</td>
                                </tr>		
                                <tr> 
                                  <td>17607</td>
                                  <td>Invalid Currency Code</td>
                                </tr>											
                           </table>
                  </div> 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderStockCardsV35Rs' 
            application/xml:
                          schema:
                              $ref: '#/components/schemas/OrderStockCardsV35Rs'                   
  # --- RenewCard
  /RenewCard/V2:
        post:
            description:
                        <h3>API Overview</h3>
                          <p>
                               Usually a card is automatically renewed within the month it expires. However, for some reasons, as if when the customer is going to be out of the town during the renewal process, he may request to renew his card before its expiration date. For that, PowerCARD offers the possibility to use this web service. The service is mainly used to store the request that will be processed during the end of the day. 
                          </p>
                          <p>
                              It is important to mention here that PowerCARD makes multiple controls on the card before proceeding to perform the renewal action. Those controls are all defined in the system and can be activated or deactivated by the financial institution using the PowerCARD setup screens.
                          </p>
                        <h3>Functional Description</h3>
                         <img  src="./docs/RenewCard.png" />
            summary:    A customer can request to renew his card before its expiration date.
            tags:
              - Renew Card
            requestBody:
              required: true
              content:
                application/json:
                  schema:
                    $ref: '#/components/schemas/RenewCardV35Rq'
                application/xml:
                  schema:
                    $ref: '#/components/schemas/RenewCardV35Rq'
            responses:  
              200:
                description:
                        <div>
                                Successful
                                <p>Business Error Codes &#58;</p>
                                <table>
                                      <tr>
                                        <th>Error code</th>
                                        <th>Error Description</th>
                                      </tr>
                                      <tr> 
                                        <td>12701</td>
                                        <td>Invalid Card number</td>
                                      </tr>
                                      <tr> 
                                        <td>12702</td>
                                        <td>Invalid Card product</td>
                                      </tr>
                                      <tr> 
                                        <td>12703</td>
                                        <td>Operation not allowed</td>
                                      </tr>
                                      <tr> 
                                        <td>12704</td>
                                        <td>Operation not allowed for Cancelled card</td>
                                      </tr>
                                      <tr> 
                                        <td>12705</td>
                                        <td>Operation not allowed for Replaced card</td>
                                      </tr>
                                      <tr> 
                                        <td>12706</td>
                                        <td>Card blocked for renewal</td>
                                      </tr>
                                      <tr> 
                                        <td>12707</td>
                                        <td>Invalid Expiration date</td>
                                      </tr>
                                      <tr> 
                                        <td>12708</td>
                                        <td>The card is in production process, Contact your administrator</td>
                                      </tr>	
                                      <tr> 
                                        <td>12709</td>
                                        <td>Card is in the stop list, Contact your administrator</td>
                                      </tr>	
                                      <tr> 
                                        <td>12710</td>
                                        <td>The card is in Pin request process, Contact your administrator</td>
                                      </tr>							
                                      <tr> 
                                        <td>12711</td>
                                        <td>The card is in Replacement process</td>
                                      </tr>
                                      <tr> 
                                        <td>12712</td>
                                        <td>The card is in Renewal process</td>
                                      </tr>							
                                </table>
                        </div> 
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/RenewCardV35Rs'
                  application/xml:
                          schema:
                              $ref: '#/components/schemas/RenewCardV35Rs'                          
    # --- Cards/v2/{aliasPAN}/Renew
  /Cards/v2/{aliasPAN}/Renew:
        get:
            description:
                        <h3>API Overview</h3>
                          <p>
                               Usually a card is automatically renewed within the month it expires. However, for some reasons, as if when the customer is going to be out of the town during the renewal process, he may request to renew his card before its expiration date. For that, PowerCARD offers the possibility to use this web service. The service is mainly used to store the request that will be processed during the end of the day. 
                          </p>
                          <p>
                              It is important to mention here that PowerCARD makes multiple controls on the card before proceeding to perform the renewal action. Those controls are all defined in the system and can be activated or deactivated by the financial institution using the PowerCARD setup screens.
                          </p>
                        <h3>Functional Description</h3>
                         <img  src="./docs/RenewCard.png" />
            summary:    A customer can request to renew his card before its expiration date.
            tags:
              - Renew Card
            parameters:
              - in: path
                name: aliasPAN
                schema:
                  type: string
                required: true
                example: "4250120656063430"
                description: The AliasPAN value.
              - in: query
                name: cardNumber
                schema:
                  type: string
                description: The cardNumber value.
                example: "4250120656063430"
              - in: query
                name: requestUID
                schema:
                  type: string
                example: "6948DF80-14BD-4E04-8842-7668D9C001F5"
                description: Request Identifier. It is sent by the calling system as a universally unique identifier for the message. Used to match response with request messages.
              - in: query
                name: requestDate 
                schema:
                  type: string
                example: "2020-02-05T00:00:00"
                description: Date when the request was submitted.
              - in: query
                name: userID 
                schema:
                  type: string
                example: "001"
                description: Represents the user Id who made the request.
            responses:  
              200:
                description:
                        <div>
                                Successful
                                <p>Business Error Codes &#58;</p>
                                <table>
                                      <tr>
                                        <th>Error code</th>
                                        <th>Error Description</th>
                                      </tr>
                                      <tr> 
                                        <td>12701</td>
                                        <td>Invalid Card number</td>
                                      </tr>
                                      <tr> 
                                        <td>12702</td>
                                        <td>Invalid Card product</td>
                                      </tr>
                                      <tr> 
                                        <td>12703</td>
                                        <td>Operation not allowed</td>
                                      </tr>
                                      <tr> 
                                        <td>12704</td>
                                        <td>Operation not allowed for Cancelled card</td>
                                      </tr>
                                      <tr> 
                                        <td>12705</td>
                                        <td>Operation not allowed for Replaced card</td>
                                      </tr>
                                      <tr> 
                                        <td>12706</td>
                                        <td>Card blocked for renewal</td>
                                      </tr>
                                      <tr> 
                                        <td>12707</td>
                                        <td>Invalid Expiration date</td>
                                      </tr>
                                      <tr> 
                                        <td>12708</td>
                                        <td>The card is in production process, Contact your administrator</td>
                                      </tr>	
                                      <tr> 
                                        <td>12709</td>
                                        <td>Card is in the stop list, Contact your administrator</td>
                                      </tr>	
                                      <tr> 
                                        <td>12710</td>
                                        <td>The card is in Pin request process, Contact your administrator</td>
                                      </tr>							
                                      <tr> 
                                        <td>12711</td>
                                        <td>The card is in Replacement process</td>
                                      </tr>
                                      <tr> 
                                        <td>12712</td>
                                        <td>The card is in Renewal process</td>
                                      </tr>							
                                </table>
                        </div> 
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/RenewCardV35Rs'
                  application/xml:
                          schema:
                              $ref: '#/components/schemas/RenewCardV35Rs'                        
 # --- ReplaceCard
  /ReplaceCard/V2:
        post:
            description:
                        <h3>API Overview</h3>
                          <p>
                             In PowerCARD, lost or damaged cards card be replaced in the system using this web service. Agents as well as customers can ask for the replacement of an existing card by specifying the reason. Based on that reason, the system can either replace the card by keeping the same card number or generating a new card number for the cardholder. 
                          </p>
                          <p>
                              The service allows also applying or not some fees amount while replacing a card. Fees are then charged to the account with a specific transaction code.
                          </p>
                        <h3>Functional Description</h3>
                         <img  src="./docs/ReplaceCard.png" />
            summary:     Lost or damaged cards card be replaced in the system using this web service.
            tags:
              - Replace Card
            requestBody:
              required: true
              content:
                application/json:
                  schema:
                    $ref: '#/components/schemas/ReplaceCardV35Rq'
                application/xml:
                  schema:
                    $ref: '#/components/schemas/ReplaceCardV35Rq'
            responses:  
              200:
                description:
                  <div>
                          Successful
                          <p>Business Error Codes &#58;</p>
                           <table>
                                <tr>
                                  <th>Error code</th>
                                  <th>Error Description</th>
                                </tr>
                                <tr> 
                                  <td>00530</td>
                                  <td>Invalid Card number</td>
                                </tr>
                                <tr> 
                                  <td>00531</td>
                                  <td>Invalid replacement reason code</td>
                                </tr>
                                <tr> 
                                  <td>00533</td>
                                  <td>Invalid fee option</td>
                                </tr>
                                <tr> 
                                  <td>00534</td>
                                  <td>Invalid fee amount</td>
                                </tr>
                                <tr> 
                                  <td>00535</td>
                                  <td>Invalid delivery branch</td>
                                </tr>
                                <tr> 
                                  <td>00536</td>
                                  <td>Invalid Card number</td>
                                </tr>
                                <tr> 
                                  <td>00537</td>
                                  <td>Invalid Priority Indicator</td>
                                </tr>
                                <tr> 
                                  <td>00538</td>
                                  <td>Invalid Priority Indicator</td>
                                </tr>							
                                <tr> 
                                  <td>00539</td>
                                  <td>Invalid Plastic Delivery Method</td>
                                </tr>							
                           </table>
                  </div> 
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/ReplaceCardV35Rs'
                  application/xml:
                          schema:
                              $ref: '#/components/schemas/ReplaceCardV35Rs'                         
  #requestPIN
  /RequestPin/V2:
      post:
        description:
                    <h3>API Overview</h3>
                    <p>
                        The PIN request API allows the bank cardholders to request for the PIN .A PIN request is usually called when the cardholder request from the bank to send him the PIN associated with his card. The cardholder has the ability to choose the appropriate mode of PIN re-sending.
                    </p>
                    <p>
                         Note that the cardholder PIN is never logged, not even in an encrypted form; the system will generate it again based on some data.
                    </p>
                    <h3>Functional Description</h3>
                    <img  src="./docs/requestPIN.png" />
        summary:  The PIN request API allows the bank cardholders to request for the PIN .
        tags:
          - Request PIN
        requestBody:
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestPinV35Rq'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestPinV35Rq'
        responses:  
          200:
            description:
                  <div>
                          Successful
                          <p>Business Error Codes &#58;</p>
                           <table>
                                <tr>
                                  <th>Error code</th>
                                  <th>Error Description</th>
                                </tr>
                                <tr> 
                                  <td>02201</td>
                                  <td>Invalid Card Number</td>
                                </tr>
                                <tr> 
                                  <td>02202</td>
                                  <td>Invalid Sending Mode</td>
                                </tr>
                                <tr> 
                                  <td>02203</td>
                                  <td>Invalid Fees option</td>
                                </tr>
                                <tr> 
                                  <td>02204</td>
                                  <td>Invalid Product</td>
                                </tr>
                                <tr> 
                                  <td>02205</td>
                                  <td>Replace without fees ex</td>
                                </tr>
                                <tr> 
                                  <td>02206</td>
                                  <td>Replace with fees ex</td>
[...]
