openapi: "3.0.3"
info:
  title: Customer API documentation
  description: <p>PowerCARD Connect’API offers through APIs specific functions that group in a functional logic, all features relating to Client operations management.</p>
  version: PowerCARD-Issuer 3.5.4-apiR5.3
servers:
  - url: https://sandbox.connectapi.hps-worldwide.com/PowerCardConnectApi/rest
    description: Development server
paths:
  #setCustomerDetails 
  /SetCustomerDetail/V2:
      post:
        description:
                    <h3>API Overview</h3>
                    <a target="_blank" rel="noopener noreferrer" href="https://sandbox.connectapi.hps-worldwide.com/PowerCardConnectApi/jaxws/SetCustomerDetail/V2?wsdl"><img  src="./docs/soap_logo.jpg" /><u>SOAP WSDL</u></a> 
                    <p>
                         The setCustomerDetails web service can be used by both agents and customers in order to update details regarding the concerned customer being sent in the request message. it also allows the creation of a new ones. 
                    </p>
                    <p>
                       The setCustomerDetails web service includes the the demographic information of the client such as names, professional activity, job details …
                    </p>
                    <p>
                       As output the web service send back the result of the processing that could be either successfully or unsuccessfully, in what case, the system will share an error code for investigation.
                    </p>
                    <h3>Functional Description</h3>
                    <img  src="./docs/setCustomerDetails.png" />
        summary:  This web service can be used by agents and customers to Update customer details.
        tags:
          - Set Customer Detail
        requestBody:
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SetCustomerDetailV35Rq'
            application/xml:
              schema:
                $ref: '#/components/schemas/SetCustomerDetailV35Rq'
        responses:  
          200:
            description:
                  <div>
                          Successful
                          <p>Business Error Codes &#58;</p>
                           <table>
                                <tr>
                                  <th>Error code</th>
                                  <th>Error Description</th>
                                </tr>
              <tr><td>10101</td><td>Invalid action code.</td></tr>
              <tr><td>10102</td><td>Invalid customer details.</td></tr>
              <tr><td>10103</td><td>Invalid corporate details.</td></tr>
              <tr><td>10104</td><td>Customer does not exists.</td></tr>
              <tr><td>10105</td><td>Invalid owner code.</td></tr>
              <tr><td>10106</td><td>Error while cancelling the customer.</td></tr>
              <tr><td>10107</td><td>Error while updating the customer branch.</td></tr>
              <tr><td>10108</td><td>Invalid socio professional code.</td></tr>
              <tr><td>10109</td><td>Invalid bank code.</td></tr>
              <tr><td>10110</td><td>Error while inserting a customer record.</td></tr>
              <tr><td>10111</td><td>Error while inserting a customer address record.</td></tr>
              <tr><td>10112</td><td>Error inserting the customer secondary address.</td></tr>
              <tr><td>10113</td><td>Error while updating a customer record.</td></tr>
              <tr><td>10114</td><td>Error while updating customer address record.</td></tr>
              <tr><td>10115</td><td>Error updating the customer secondary address.</td></tr>
              <tr><td>10116</td><td>Error updating the corporate status.</td></tr>
              <tr><td>10117</td><td>Error inserting a new corporate.</td></tr>
              <tr><td>10118</td><td>Error updating a corporate record in the database.</td></tr>
              <tr><td>10119</td><td>Empty set of contact information.</td></tr>
              <tr><td>10120</td><td>Customer/Organisation operation are mutually exclusive.</td></tr>
              <tr><td>10121</td><td>Corporate already exists in the system with the same ID.</td></tr>
              <tr><td>10122</td><td>Invalid branch code in customer details segment.</td></tr>
              <tr><td>10123</td><td>Invalid family status.</td></tr>
              <tr><td>10124</td><td>Invalid cardholder’s gender.</td></tr>
              <tr><td>10125</td><td>Invalid cardholder’s birth date.</td></tr>
              <tr><td>10126</td><td>Invalid vip level.</td></tr>
              <tr><td>10127</td><td>Invalid nationality code.</td></tr>
              <tr><td>10128</td><td>Invalid language code.</td></tr>
              <tr><td>10129</td><td>Invalid title code.</td></tr>
              <tr><td>10130</td><td>Invalid socio professional code.</td></tr>
              <tr><td>10131</td><td>Invalid activity code.</td></tr>
              <tr><td>10132</td><td>Invalid customer segment.</td></tr>
              <tr><td>10133</td><td>Invalid lodging mode.</td></tr>
              <tr><td>10134</td><td>Invalid channel number.</td></tr>
              <tr><td>10135</td><td>Invalid phone type 1.</td></tr>
              <tr><td>10136</td><td>Invalid phone type 2.</td></tr>
              <tr><td>10137</td><td>Invalid phone type 3.</td></tr>
              <tr><td>10138</td><td>Invalid phone type 4.</td></tr>
              <tr><td>10139</td><td>Invalid primary address type.</td></tr>
              <tr><td>10140</td><td>Invalid primary address sending mode.</td></tr>
              <tr><td>10141</td><td>Invalid client primary address city code.</td></tr>
              <tr><td>10142</td><td>Invalid client primary address region code.</td></tr>
              <tr><td>10143</td><td>Invalid client primary address country code.</td></tr>
              <tr><td>10144</td><td>City code or city free text is required for card primary address.</td></tr>
              <tr><td>10145</td><td>Region code or region free text is required for card primary address.</td></tr>
              <tr><td>10146</td><td>Invalid client secondary address type.</td></tr>
              <tr><td>10147</td><td>Invalid client secondary address sending mode.</td></tr>
              <tr><td>10148</td><td>Invalid client secondary address city code.</td></tr>
              <tr><td>10149</td><td>Invalid client primary address region code.</td></tr>
              <tr><td>10150</td><td>Invalid client primary address country code.</td></tr>
              <tr><td>10151</td><td>Validity start date must not be in the past in case client secondary address.</td></tr>
              <tr><td>10152</td><td>Validity start date cannot be greater than validity end date in case client secondary address.</td></tr>
              <tr><td>10153</td><td>Validity end date must not be in the past in case client secondary address.</td></tr>
              <tr><td>10154</td><td>City code or city free text is required for card secondary address.</td></tr>
              <tr><td>10155</td><td>Region code or region free text is required for card secondary address.</td></tr>
              <tr><td>10156</td><td>Invalid client document code.</td></tr>
              <tr><td>10157</td><td>Invalid client field name.</td></tr>
              <tr><td>10158</td><td>Invalid client field value.</td></tr>
              <tr><td>10159</td><td>Wrong format for client field value.</td></tr>
              <tr><td>10160</td><td>Invalid birth country.</td></tr>
              <tr><td>10161</td><td>Invalid birth city.</td></tr>						
                           </table>
                  </div>
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/SetCustomerDetailV35Rs'
              application/xml:
                    schema:
                      $ref: '#/components/schemas/SetCustomerDetailV35Rs'                                           
# Components definition
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 
          <div>
               <h5>Api key authorization</h5>
               <p>JWT authorization header using Bearer scheme. Example &#8282; "Authorization &#8282; Bearer {token}"</p>
               <table>
                  <tr>
                      <td>Name &#8282;</td>
                      <td>Authorization</td>
                  </tr>
                   <tr>
                      <td>In &#8282;</td>
                      <td>Header</td>
                  </tr>
                </table>
          </div>      
  schemas:
    # --- Import SetCustomerDetailV35 request and response definition
      SetCustomerDetailV35Rq:
            $ref: 'request.yaml#/SetCustomerDetailV35Rq'
      SetCustomerDetailV35Rs:
            $ref: 'response.yaml#/SetCustomerDetailV35Rs'    
security:
  - bearerAuth: []